[2015-07-12 22:58] redox opened #1 "Ability to open the debug inspector while auto-completing"
Currently it's disappearing because of https://github.com/algolia/autocomplete.js/blob/master/src/autocomplete/typeahead.js#L139-L141

[2015-07-13 11:47] maxiloc commented on #1
Maybe we would could have a "debug" boolean that will ignore this blurred event. What do you think ?

[2015-07-13 12:03] maxiloc opened #3 "Branding"
It could be cool to have a cleaner way to do branding with static content.

For now we have to simulate a hit which is not so good. Will be very helpful for integrations

What do you think ?

[2015-07-13 14:33] redox commented on #3
:+1:

[2015-07-13 16:08] redox commented on #3
So I propose to have the same kind of templates at the dropdown menu level:

[code]

[2015-07-13 16:19] maxiloc commented on #3
Yes good for me. So it allows either the html or the selector right ?

[2015-07-13 16:24] redox commented on #3
Yep, currently working on that.

[2015-07-13 16:25] maxiloc commented on #3
:+1:

[2015-07-13 16:39] redox commented on #1
Yeah, let's go with that a 'debug' flag; was also @pixelastic's recommendation.

[2015-07-13 16:44] #1 closed

[2015-07-13 17:08] #3 closed

[2015-07-13 18:03] maxiloc opened #4 "Built-in column layout"
Maybe it could be cool to have an api to do the horizontal search.

So when you declare your typeahead you tell how many column you want. And then you have a parameter to say in which collumn you to push your dataset. It will be a lot easier to read an avoid to repeat the template every time. So that could handle 1 to n collumn (1 being the same as default typeahead layout).

If we push horizontal

[2015-07-13 18:15] redox commented on #4
We should just keep in mind than horizontal layouts often look like:

<table>
<tr>
<td rowspan="2">DATASET 1</td>
<td>DATASET 2</td>
</tr>
<tr>
<td>DATASET 3</td>
</tr>
</table>

For standard horizontal layout, CSS is enough to be able to make it. But it can make sense to still handle it:

[code]

[2015-07-13 19:04] maxiloc opened #5 "Instant search"
Until recently :smile: typeahead was out default autocompletion implementation for us. I think now that we have this repo, it could be very cool that it could be our instant search default implementation. I think this is THE the place where we could unify all our integration instant implementation.

I have several points where I am not sure how we can implement that in a generic customizable way.

[2015-07-13 19:06] maxiloc commented on #4
Yes I like your proposition a lot

[2015-07-13 19:20] redox commented on #5
I'm convinced we need more libraries to tackle the search UI problem (and we've already started to investigate what we can do with [ui-kit](https://github.com/algolia/algolia-ui-kit)) but we probably need another repository for that. This auto-completion library will be a dependency of it as well as an URL manager, a Slider widget, some conjunctive/disjunctive/hierarchical facet widgets, etc...

[2015-07-13 19:48] maxiloc commented on #5
Ok that make sense.

[2015-07-14 00:02] redox commented on #5
Let's close it for now then.

[2015-07-14 00:02] #5 closed

[2015-07-14 00:06] redox opened #6 "Replace jQuery by lodash where it's possible"

[2015-07-14 01:40] redox commented on #6
Actually, I'm not sure it's relevant to move to lodash anymore... We need jQuery for the DOM manipulation, so we should stick to use `$.{each,extend,each,...}` to limit the size of the library. Then, to build an Angular plugin we need to check if their JQLite provides all the functionalities.

[2015-07-14 01:42] redox opened #7 "Create an angular.js build that adds a directive"
Probably like https://github.com/Siyfion/angular-typeahead did.

[2015-07-14 06:07] redox opened #9 "Create an Algolia adapter"
Create an Algolia adapter wrapping the following code:

[code]

[2015-07-14 07:33] redox opened #10 "What if $ is not defined"
We need to find a way to inject `$` in the library if `noConflict` or `jQuery.` is used.

[2015-07-14 16:16] bobylito commented on #10
What if it is defined and it's not jQuery? Or what it is not jQuery but a fully compatible library like Zepto?

This is a tricky question. Are we sure that we really want to address this issue?

[2015-07-14 16:21] redox commented on #10
I think we need to have something like Backbone:

[code]

[2015-07-14 16:39] bobylito commented on #10
I've had a look at the code base. And maybe try something like :
[code]
Just an idea. Otherwise the idea seems way more sensible than the current code.

[2015-07-14 17:53] Jerskouille commented on #10
I love the YOLO part.

[2015-07-15 08:44] pixelastic commented on #10
Zepto is not fully compatible with jQuery (I do not exactly remember the differences, but I remember running into issues). Backbone mostly uses `$` so it can delegate it to user-defined templates so we can use it easily. In the core, it only uses `find`, `remove`, `on`, `off` and `attr`.

I think we should follow the Backbone way, testing for `jQuery`, `Zepto`, `ender` in that order. We should als

[2015-07-15 08:45] pixelastic commented on #7
I can do that once the lib is ready

[2015-07-15 08:48] pixelastic commented on #6
I think it depends on the complexity of what we're building. If we only use `map` and `each`, jQuery should be enough. If we run into more complex code that could be simplified with one line of `lodash`, we might load only the `_` mixins we need.

jQlite is very light, especially regarding selectors. But I'm ok with having jQuery as a dependency.

[2015-07-15 08:50] pixelastic commented on #5
Sorry I didn't really get it.

Are you saying that this `autocomplete.js` is part of a larger family of `instant-search.js`, `slider.js` and `url-manager.js` libraries we'll build ? Each one handling one UI use-case ?

[2015-07-15 08:56] pixelastic commented on #4
Hmm, I would not put the columning in the template. As you said, CSS can take care of that (as we now have the ability to define the master template, holding the datasets, as well as each dataset).

I would rather specify _where_ a dataset is located (in the grid) when defining it. This will help in handling keyboard navigating (up, down, right and left).

[code]

[2015-07-15 09:56] vvo commented on #6
we can still use lodash if we need good tools. It should not be worth the effort to try to use all the environment available tools.

Most of the time its error prone because small differences exists between implementations.

Safest an easiest if we plan to be compatible with jquery zepto jqlite dom libraries is to avoid using their non dom utilities and use lodash and lodash compat for this.

In t

[2015-07-15 09:58] vvo commented on #6
On a side note, you can `var map = require('lodash/collection/map');` and it will do his best to only include the necessary lodash parts in the build

[2015-07-15 14:50] pixelastic commented on #6
Agreed with @vvo. It might be safer to rely on a battletested implementation of `map`/`each` than on the weird jQuery ones, especially if we do not have a strong dependency on jQuery (could be swapped with Zepto and co).

[2015-07-15 15:14] redox commented on #5
Yes, something like that. What do you think? (it will not be `slider.js` but rather `facet.slider.js` -> all those components will be very Algolia centric).

[2015-07-15 15:15] redox commented on #4
Ah yes, looks very good like that @pixelastic :) Should we go for a table-based layout since we'll not control the CSS grid used?

[2015-07-15 15:17] redox commented on #6
I tried but I went from a 20KB library to a 40KB :-1:  Didn't find the time to investigate for now. Let me publish my feature branch.

[2015-07-15 15:19] redox commented on #6
Maybe a did something wrong, would love to have you insights @vvo: https://github.com/algolia/autocomplete.js/commit/633ae25be119465fafcee1a78b1e357db296aa12

[2015-07-15 15:21] pixelastic commented on #5
Hmm yes, that could work I guess. Each of this library having a clear UI role.

This still make me wonder:

- What about the ui-kit ? Will we split it in several libraries ?
- What about logic code (like hierarchical category facetting) ? Should it be handled by the helper or the `facet.hierarchical.js` new library ?

I don't have a clear answer to that, just throwing it here. I think I'd rather h

[2015-07-15 15:38] redox commented on #5
Yeah, we still need to discuss about it with @bobylito; here the goal would be to create reusable UI components for developers. The ui-kit is more about creating a search UI without code.

Yes :+1:

[2015-07-15 16:20] vvo commented on #5
We need the ui kit features exposed as a programmatic API, so first we should describe and iterate on the API we want to provide

[2015-07-15 16:21] vvo commented on #5
The ultimate goal wpild be to be able to use this programmatic API without having to embed and configure both the client and helper, this should all be handled by the ui.js

[2015-07-15 16:22] vvo commented on #6
Will have a look

[2015-07-16 12:29] pixelastic commented on #4
Hmm, no I would let the actual rendering of the grid to the user. Table-based, bootstrap grid, custom float/inline-block, anything can then be used.

[2015-07-16 15:01] redox commented on #4
So what would it look like from an API POV? Because the idea was to propose an API with some "default" templates.

[2015-07-16 15:30] pixelastic commented on #4
I would read the `column` / `line` attributes of the dataset and generate a markup along the line of:

[code]

Something like that. Not sure on the details. Maybe we could merge the lines with the dataset wrapper.

Going form here we could either just provide such classes so users will style them as they see fit (using `float`, `table-cell` or whatever), or we could also add more generic classes a

[2015-07-16 16:16] redox commented on #4
Oh OK, now I get it; so the user will need to write the associated CSS. It's not OOTB but definitely OK, LGTM :+1:

[2015-07-16 23:11] redox opened #11 "Ability to change the layout based on the matching datasets"
Putting some CSS classes on the dropdown menu depending on if a dataset has some results would allow us to change the layout of the dropdown menu in some situations.

If we have 3 datasets:
 * `products`
 * `categories`
 * `brands`

and only the `products` dataset has results, it would set:

[code]

[2015-07-16 23:41] #11 closed

[2015-07-17 09:38] vvo commented on #6
done into #13

[2015-07-17 09:58] maxiloc commented on #4
@pixelastic Do we need a line attribute ? Can we just have kind of a stack for each collumn, the first in the array with collumn 1 will be on line 1, second with collumn 1 on line 2 and so on ?

[2015-07-17 10:10] vvo commented on #4
Just to clarify things: we are going to propose a column/line API only to be able to handle the right left keys, right?

I would not complexify the API for such use case, but rather:
- only up/down keys would work, we would stilll be able to go to column 2, when end of column 1 reached
- provide CSS examples to do an horizontal + vertical menu

what do you think?

[2015-07-17 10:25] pixelastic commented on #4
@maxiloc: Might not be necessary, you're right.

@vvo: Yes, that is the idea. Being able to move accross columns with right and left keys. I think the more we create multi-column layout, the more we will want to be able to navigate on the keyboard (well, if we provide up/down, makes sense to also provide right/left). This might not be a priority feature, but I feel like the implementation would mi

[2015-07-17 14:38] redox commented on #4
No, at the beginning it was just to be able to display datasets with a (more) complex layout. Handling right/left keys is indeed a good nice to have.

<table>
<tr>
<td rowspan="2">DATASET 1</td>
<td>DATASET 2</td>
</tr>
<tr>
<td>DATASET 3</td>
</tr>
</table>

[2015-07-17 14:40] redox commented on #4
CSS rules are not always enough if we keep the current DOM structure.

[2015-07-17 15:06] vvo commented on #4
Do we have an example autocomplete menu where CSS is not enough?

[2015-07-17 15:17] redox commented on #4
Yes, the one I provided when dataset1 is smaller than dataset2:

<table>
<tr>
<td>DATASET 1</td>
<td>DATASET 2</td>
</tr>
<tr>
<td></td>
<td>DATASET 3</td>
</tr>
</table>

In such case you, having one dataset after another:
[code]

cannot keep the `dataset-3` on the right; you need:

[code]

[2015-07-24 04:07] Jerskouille commented on #10
By the way, I believe this breaks the CommonJS part of the plugin, because I had to put $ into the global scope. Could it be an argument of the `module.exports` ?

[2015-07-24 08:23] vvo commented on #10
What do you mean @Jerskouille?

The way to build commonJS jQuery plugins is this:

[code]

http://blog.npmjs.org/post/112712169830/making-your-jquery-plugin-work-better-with-npm

[2015-07-24 20:39] Jerskouille commented on #10
@vvo I'm not completely sure I got this: isn't this code supposed to be in the plugin?

[2015-07-24 20:51] vvo commented on #10
Yes the code I added should be in our plugin.

[2015-07-27 23:47] redox commented on #7
Fixed in 0.3.0

[2015-07-27 23:47] #7 closed

[2015-07-27 23:48] #6 closed

[2015-07-30 20:51] pixelastic commented on #10
So what about supporting Zepto and co? Should we try to use whatever $ is available in the global scope in browserland?

[2015-08-11 05:28] masterkrang opened #14 "hinting seems busted, empty"
$('#search_input').autocomplete({
    hint: true
     },
    [
      {
        source: projects.ttAdapter({ hitsPerPage: 5 }),
        name: 'contacts1',
       ...

[2015-08-11 07:00] redox commented on #14
You forgot the specify the `displayKey`:

[code]

[2015-08-11 16:21] #14 closed

[2015-08-12 20:59] masterkrang commented on #14
thanks!

[2015-08-24 08:37] redox opened #15 "Popular queries (aka Amazon-like) autocomplete section"
The goal of this feature is to provide an easy way to build the Amazon-like suggestions:

<table>
<tr>
<td>iPho</td>
<th>Search</th>
</tr>
<tr>
<td>
<ul>
<li><b>iPho</b>ne in <b>All departments</b></li>
<li><b>iPho</b>ne in <b>Electronics</b></li>
<li><b>iPho</b>ne in <b>Cell phones & accessories</b></li>
<li><b>iPho</b>ne 6</li>
<li><b>iPho</b>ne 6 Cases</li>
<li><b>iPho</b>ne 5</li>
<li><b>iPho<

[2015-09-09 13:18] redox opened #16 "The wrapper span should inherit the display property"
It uses `inline-block` by default but that doesn't work if the original input is depending on `table-cell` like in:

[code]

[2015-09-30 22:21] #15 closed

[2015-10-06 15:42] redox commented on #10
This one has been solved packaging 3 versions:
 - `autocomplete.jquery.js` depends on `$`
 - `autocomplete.jquery.js` depends on `angular` and its `angular.element` (requires jQuery as well)
 - `autocomplete.js` hasn't any dependencies and embed Zepto.js

[2015-10-06 15:42] #10 closed

[2015-10-06 15:43] vvo commented on #10
woohoo

[2015-10-06 19:29] redox commented on #9
This has been done & documented (681a6720)

[2015-10-06 19:29] #9 closed

[2015-10-06 19:30] redox commented on #16
Closed in 95a496e5.

[2015-10-06 19:30] #16 closed

[2015-10-07 08:07] redox opened #27 "Ability to use the built-in sources from Angular"
Not yet sure how to inject our built-in sources.

[2015-10-07 09:50] #27 closed

[2015-10-13 13:54] redox opened #32 "Get rid of the `data` API"
The original `typeahead.js` code was using the `$.data` API to store the underlying `datum`, `key` and `value` values. Zepto and jQuery don't react the same way while storing objects (see https://github.com/algolia/autocomplete.js/pull/31).

We should find another way to save those 3 values, avoiding using the `data` attributes.

[2015-10-14 15:01] redox opened #33 "Expose the manipulation functions in the standalone build"
Like we do for the jQuery build: https://github.com/algolia/autocomplete.js#api

Probably something like:

[code]

[2015-10-18 22:34] salparadise opened #35 "Switch between datasets"
I'm working on tabbed search functionality that is very similar to this found on [Discogs](http://www.discogs.com/). My temporary solution is to destroy autocomplete after tab switch and then create another with new parameters, but this causes unattractive flash when it reappears.

Is there any way to switch between whole datasets without destroying auto-completion menu?

[2015-10-19 09:35] redox commented on #35
Hey @salparadise,

I just pushed an example of such tab-based menu here: https://github.com/algolia/autocomplete.js/commit/b7227bc

Let me know what you think!

[2015-10-19 09:35] #35 closed

[2015-10-19 10:36] salparadise commented on #35
Thank you for quick response. It's nice and clean solution. I tried this kind of approach, but end up with kind of optimization issue - this script makes query for each tab while most of the time only the first dataset will be used. Taking into account Algolia operation limits different solution is worth considering. Rebuilding without destroying would be suitable. If switching between tabs could

[2015-10-19 10:42] redox commented on #35
Oh I think you can easily listen on bootstrap's events (https://bootstrap.algolia.com/javascript/#tabs-events) to enable/disable the search in a specific tab. Then in the "source" functions, you would avoid doing the query if the tab is not displayed or something like that.

[2015-10-19 11:34] salparadise commented on #35
Yeah, that should definitely do the trick. My problem was to use $.fn.autocomplete.sources.hits helper function instead writing my own. Thanks for suggestion.

[2015-11-07 14:18] candypaint opened #36 "Search facets"
It would be nice to be able to search through facets.

For example if you had a index of products with brands and categories as facets. It would be useful to be able to search for the brand and category, it can then be used as a refinement.

[2015-11-09 08:25] pixelastic commented on #36
Thanks for the idea.

The API does not currently support doing a full text search on the facet values. The solution we usually advocate is to manually build a second index, containing the list of all your brands and categories, and do an autocomplete on that one.

That being said, doing it automatically is on our roadmap, but I don't have an ETA yet.

[2015-11-25 02:03] l4u opened #37 "Add bower release"

[2015-11-25 08:41] #37 closed

[2015-11-25 08:48] redox commented on #37
Done. Needed to rename it to `algolia-autocomplete.js` because `autocomplete.js` was already taken :/

[code]

[2015-11-27 12:47] maxiloc opened #39 "dataset name "0""
If the dataset is named "0"

this condition will return false => https://github.com/algolia/autocomplete.js/blob/78f6ee2848f596565d0c04a1e21fba838b1a9423/src/autocomplete/dataset.js#L39

I think we should modify it to allow at least integers

[2015-11-28 01:11] #33 closed

[2015-11-28 01:14] #39 closed

[2015-12-03 11:27] ivoputzer opened #40 "_.every helper function is broken"
`_.every` within `_onRender` function doesn't actually work as one would expect: `_.every` along with `isDataEmpty` it always returns truthly on multiple datasets which then hides the entire element.

[code]

as of right now we dirty fixed the issue:
[code]

would you consider a pr?

[2015-12-03 11:50] redox commented on #40
Arg good catch @ivoputzer! We would love a PR :+1:

[2015-12-04 13:59] maxiloc opened #41 "specify container for the dropdown - (For Magento)"
Can we add a optional container to put the dropdown it in instead of appending after the input

[2015-12-10 15:42] #41 closed

[2015-12-15 17:40] markkra opened #45 "openOnFocus"
I saw the "openOnFocus" and expected the full suggestion list to be used, unfiltered, when openOnFocus is set to true. That's not the case.

In the Dropdown#open() function:

[code]

When the property this.isEmpty is true (empty query string) the _show() doesn't get called and the popup is in fact not opened but still closed. However, 'opened' is fired anyway and the property this.isOpen is set to

[2015-12-16 08:49] redox commented on #45
Hey @markkra,

I think we're on the same page regarding what it should do, but you got confused because you didn't configure the `minLength` option:

[code]

Basically, if you don't set it to `0` it will not trigger any search setting that underlying `isEmpty` attribute.

Could you try to put `minLength: 0`? Maybe that's something we should automatically do if `openOnFocus` is set.

[2015-12-16 18:09] markkra commented on #45
Yup, was just trying that this morning and got the full list with minLength = 0.
Still sort of a gotcha in the open() function. Wouldn't this be better?

  open: function open() {
    if (!this.isOpen) {
      if (!this.isEmpty) {
       // only toggle the isOpen flag and fire "opened" when actually showing the popup.
        this.isOpen = true;
        this._show();
        this.trigger('opened')

[2015-12-16 18:24] redox commented on #45
Cool :)

And yes, I think your snippet would be better; that code has been ported by the original typeahead.js library so I don't have the whole history of it; but I think it would make it much more clearer.

Do you mind sending a pull-request? We may have some tests to update as well.

[2015-12-16 19:27] markkra commented on #45
Doh! Yup, 9 tests not happy. I'll take a look at those as well.

[2015-12-17 15:22] markkra commented on #45
I'm not having much luck debugging the unit tests on a Mac. I'm a long time Windows Visual Studio user (at MSFT for 18yrs before moving on) and just started on the Mac a few months ago. Missing my toolchain...
Any hints on stepping through the tests on the Mac? On the PC I used a test runner called Chutzpah that was a big help.

[2016-01-12 03:01] simkimsia opened #46 "Does this allow prefetch and remote search while working with mentions?"
I am here because:
1. I have implemented my own backend endpoint and used angular mentions plugin called mentio.js
2. The suggestions was not fast enough for me.
3. I found twitter typeahead which allows prefetch and remote dataset but it looks like it's no longer maintained.

My questions are:
1.  does this plugin allow both prefetch and remote?
2.  is there a way I can make this work with mentio

[2016-01-12 07:44] redox commented on #46
hey @simkimsia,

This module doesn't allow prefetch and has is mainly used with the Algolia search API (blazing fast, you should give it a try -> it would replace your backend endpoint).

Autocomplete.js is a fork of Typeahead 0.10.5. I never tried to display the dropdown menu below mentions in a textarea, but it looks a bit tricky.

If you want to see what you can do with Algolia + autocomplete.j

[2016-01-12 09:17] #46 closed

[2016-01-12 15:29] maxiloc opened #47 "standalone destroy method doesn't seem to work"

[2016-01-15 00:17] jondcallahan opened #48 "Unable to use in production"
Having autocomplete.js as a dependency fails when running `npm install --production`. The issue is appears to be caused by the `npm-zepto` package and its reliance on the `coffee-script` package as a devDependency.

[code]

[2016-01-15 07:37] redox commented on #48
@jondcallahan Hmmm, indeed that's not expected. Do you mind sharing with me a minimal `package.json` reproducing the issue?

[2016-01-15 07:45] jondcallahan commented on #48
@redox Sure thing.
[code]
I ran in to this issue in a large scale app and created a barebones project to see if I could reproduce. Sure enough, same issue across both.

[2016-01-15 10:51] pixelastic commented on #47
Could you give an example and/or some code? I don't get what you mean.

[2016-01-19 09:22] redox commented on #48
Interesting, it seems that @vvo struggled with `--production` already :) https://github.com/npm/npm/issues/2854

@vvo Any hint how you would fix it? Should we add a dependency to `coffee-script`?

[2016-01-19 13:49] gergelyke opened #50 "debounce support?"
Hey,

do you plan to add it, or is it already possible?

[2016-01-19 14:53] redox commented on #50
Hey @gergelyke,

Right now it doesn't support debounce. Could you share the use-case of introducing such debounce capability? One of the cool features of Algolia is its native support of prefix search; [retrieving relevant results](https://www.algolia.com/demo/autocomplete) from the very 1st keystroke -> you shouldn't need to "wait" to have a few chars before calling the API to ensure the results

[2016-01-19 15:51] gergelyke commented on #50
Hey @redox,

i get it - still, I'd like to add debounce, as I do believe firing up 10 parallel requests is not a good practice. If you do not want to add it, could you point me to the part of the project where it should be added?

Thanks a lot,
Gergely

[2016-01-19 20:15] vvo commented on #48
Ok I added a fix in #51 for this, basically zepto is very bad at being modern and following the npm way/frontend way

[2016-01-22 23:00] #48 closed

[2016-01-22 23:02] vvo commented on #48
fixed and released as 0.16.1. Let us know.

[2016-01-23 00:48] vvo opened #52 "playground multi sections has no films showing up"
Even before my modifications, in 1.6.0 tag there's no movies showing up, weird

[2016-01-23 00:49] vvo commented on #48
try 0.16.2 bc 0.16.1 was a fail

[2016-01-23 01:26] jondcallahan commented on #48
Thanks @vvo, I'll run it through the build process. :+1:

[2016-02-12 13:36] pixelastic opened #53 "Can't bind autocomplete on more than one input"
The following code should let me bind the same autocomplete dropdown to two unrelated inputs. Unfortunatly, it does not seem to work, I have an empty dropdown being displayed under both inputs.

`autocomplete('#search-input,#search-input2', ...)`

![image](https://cloud.githubusercontent.com/assets/283419/13008331/f9eba904-d195-11e5-9774-1c3e021d013a.png)

[2016-02-12 14:08] #53 closed

[2016-02-21 18:52] kylegibson opened #54 "Script error in IE8 using autocomplete standalone"
![screenshot from 2016-02-21 13 51 12](https://cloud.githubusercontent.com/assets/243791/13204614/3eb05900-d8a2-11e5-9827-2feaafad17e9.png)

[2016-02-21 19:26] redox commented on #54
Ah that's weird because the integration tests seem to pass on IE8 (https://travis-ci.org/algolia/autocomplete.js/builds/109245179)

I'll need to boot a virtual machine to debug.

[2016-02-21 21:32] vvo commented on #54
getComputedStyle is not in IE8 @redox it seems. http://cdn.polyfill.io/v2/docs/features/#getComputedStyle has it so we might want to delegate IE8 support to those polyfills.

[2016-02-22 09:26] redox commented on #54
@kylegibson can you just confirm the `autocomplete.js` version you're using?

[2016-02-22 15:39] kylegibson commented on #54
I'm using 0.16.1

[2016-02-22 15:56] redox commented on #54
Alright. So 2 solutions:
 - 1. we need to include the polyfill to ensure the Zepto.js dependency is compliant with IE8. Or we need go for the 2nd solution and explicitly say that the standalone library is not usable with IE < 10.
 - 2. use jQuery 1.X + `autocomplete.jquery.min.js` instead of the standalone `autocomplete.js`

[2016-02-22 16:11] vvo commented on #54
I believe we should right away say that if you need IE < 10 support you need to include the polyfill.io thing. It works very well, already used in the magento extension.

If you need to support olds IES, you need this in the `<head>`:

[code]

[2016-02-23 10:02] chrisvidal opened #55 "Selected value does not update the input value"
After selection of a value, it does not update the input value.

[2016-02-23 10:04] redox commented on #55
Hey @chrisvidal,

could you help me understand how to reproduce what you're describing? Or maybe do a gif to show what's the expected behavior.

[2016-02-23 10:11] chrisvidal commented on #55
screen 1 : search for 'air con'
![screenshot 2016-02-23 18 06 18](https://cloud.githubusercontent.com/assets/2263496/13248336/a77b6b8e-da58-11e5-94c6-6376235b9a6e.png)

screen 2 : select the value "Air Condtionning Equipement" and the input keep the search value instead of the selected value
![screenshot 2016-02-23 18 06 24](https://cloud.githubusercontent.com/assets/2263496/13248357/c6ca9cda-da58

[2016-02-23 10:19] chrisvidal commented on #55
ok, i fix the issue.
this happened because on Algolia side, i didnt setup which attribute to retrieve.
now it works perfect.
Can close this issue

[2016-02-23 10:21] redox commented on #55
Ok good to know :) I'm closing the issue but feel free to re-open it if something else occurs.

[2016-02-23 10:21] #55 closed

[2016-02-24 17:41] kylegibson opened #56 "How to get the index of the selected item?"
When a result is selected in the standalone autocomplete, I would like to know the index of the item that was selected. Does the standalone autocomplete provide an obvious way to get this information? If it's not obvious, any suggestions on how I might be able to get it?

Thanks!

[2016-02-24 23:44] kylegibson commented on #54
Thanks for the help guys.

@vvo I followed your instructions and the same error is still happening

[2016-02-25 09:11] vvo commented on #54
Can you send a link to the website? Or setup a small github repo with reproducible instructions?

It would help a lot

[2016-02-25 18:22] kylegibson commented on #54
I wanted to use jsfiddle, however it apparently does not work in IE8 anymore.

https://bit.ly/1SXNr5B

Thanks!

[2016-02-27 10:30] redox commented on #56
Hey @kylegibson,

there is no obvious way to do so from the `templates` functions without injecting the indices from the `source`:

[code]

How does that sound to you?

[2016-02-29 08:32] vvo commented on #56
@redox index => indexName? If it's a string to differentiate it from the index object.

[2016-02-29 08:43] redox commented on #56
Oh, it's actually the index (aka position - an integer) in the array of results, nothing to deal with an index data structure, or an index name.

But that's only something @kylegibson will use in his code, we don't plan to integrate that on our side.

[2016-03-01 13:55] brunonic opened #57 "autocomplete:opened – Triggered even if there is no result"
Hi,

In my case the event autocomplete:opened is triggered even if I have no result. It's triggered when I write something in my input.

I need to triggered an event only when the dropdown autocomplete is visible.
There is something to do this or maybe there is a problem ?

Thx

[2016-03-01 20:20] redox commented on #57
That makes sense @brunonic; I'll have a look why the event is wrongly triggered.

[2016-03-08 07:52] brunonic commented on #57
Any news about this issue ?

[2016-03-08 09:03] redox commented on #57
So indeed the original typeahead code is handling the `isOpen` and `isEmpty` states independently (https://github.com/algolia/autocomplete.js/blob/master/src/autocomplete/dropdown.js#L198-L206). Not yet sure if we want to change the behavior, or just add a new event which would say "isOpen && !isEmpty".

What's your POV @brunonic ?

[2016-03-08 14:59] brunonic commented on #57
Yes, add a event is the better way I think.

[2016-03-14 02:10] kylegibson commented on #54
Hello,

Was the example I provided above sufficient?

Thanks!

[2016-03-14 04:57] pukapukan opened #58 "Any plan on wrapping it as React component?"
Don't mind doing it manually but would like to know if there's a plan on publishing official react autocomplete component from Algolia.

Thanks!

[2016-03-14 11:15] vvo commented on #58
We definitely want to provide native React components (and not just wrappers around an existing DOM library like autocomplete.js).

As with everything, we have plenty to do. So if you are up to creating an autocomplete.js-react then we would love so! Thanks.

[2016-03-14 11:18] vvo commented on #54
Hi @kylegibson sorry for late reply, this example is not working for me. Can you setup maybe a very simple webpage in a gist and then I will try it?

I am sorry to say we are going to stop supporting IE8 officially very soon because it's dying and generates some good support.

Still happy to provide help if you can setup a simple gist: http://gist.github.com/

[2016-03-14 16:06] kylegibson commented on #54
Hi @vvo,

Is this what you mean? https://gist.github.com/kylegibson/8de8932e2dd139a07a85

[2016-03-15 10:46] redox commented on #58
Wrapping the current library in a React component is probably doable but I think the best would be to reimplement it from scratch because the current code is (historically) based on a lot of jquery-compliant APIs:

 - $.css
 - $.data
 - $.each, $.map, ...

We managed to do it pretty easily for [Angular.js](https://github.com/algolia/autocomplete.js/blob/master/src/angular/directive.js) but React w

[2016-03-15 13:58] vvo commented on #54
@kylegibson Yes but can you copy paste a complete webpage that I can then just run and see what's not working on IE8? THanks

[2016-03-15 14:08] kylegibson commented on #54
That is a complete webpage sufficient to generate a script error in IE8. Granted, it's a different script error, but it means that even if the original script error is fixed, just including the JS is problematic:

![screenshot from 2016-03-15 10 03 22](https://cloud.githubusercontent.com/assets/243791/13780293/38e4b5f2-ea95-11e5-95ae-c0f6e2b6d6d2.png)

For comparison, here's IE9

![screenshot from

[2016-03-15 14:24] vvo commented on #54
Ok thanks, I will have a look

[2016-03-15 16:22] vvo commented on #54
Ok I just checked, can you try with inserting this line instead:

[code]

[2016-03-15 16:23] vvo commented on #54
getComputedStyle is not by default in polyfill.io that's why, thanks

[2016-03-18 11:42] #57 closed

[2016-03-18 11:48] redox commented on #57
@brunonic released in 0.17.0 (should be available soon on the CDN). You can now listen the `shown` event :+1:

[2016-03-19 19:21] vahnag opened #59 "Selected event not triggered"
`autocomplete:selected` event stopped working with `0.17`.

[2016-03-19 20:01] #59 closed

[2016-03-19 20:02] redox commented on #59
Arg, reverting the guilty commit now... Sorry for that, releasing 0.17.1 now

[2016-03-19 20:04] redox commented on #59
Done, waiting for the CDN to propagate.

[2016-03-19 20:10] vahnag commented on #59
Thank you.

[2016-03-21 15:51] redox commented on #57
Released in 0.17.2

[2016-03-24 22:55] kylegibson commented on #54
I tried enabling `getComputedStyle` via polyfill as you suggested. That corrected the initial JS error, however I was still getting the original JS error. I was able to fix it using the following javascript:

[code]

[2016-03-24 22:55] #54 closed

[2016-03-25 05:32] kylegibson commented on #56
Thanks guys, this helped a lot!

[2016-03-25 06:59] redox commented on #56
:+1:

[2016-03-25 06:59] #56 closed

[2016-03-25 15:13] kylegibson opened #60 "Selenium testing clicking results in the dropdown [question]"
Autocomplete version: 0.16.1
Selenium: 2.50.1

I've been writing selenium test cases (in python) for our autocomplete integration. One of the tests I would like to write consists of clicking one of the results, and then verifying that the appropriate action occurs. Unfortunately, I discovered that selenium's click even causes the menu to disappear rather than trigger the appropriate click events.

[2016-03-25 17:56] kylegibson commented on #60
Turns out the arrow keys and enter doesn't work either. I was able to get this working by using `execute_script` and passing in a jQuery expression to select the suggestion and send the click event.

[2016-03-28 10:36] vvo commented on #60
@kylegibson Do you think you could provide us a reduced github test repository where we could see the actual issue? Something that would host a simple html page and a simple selenium script to launch where we could see that you cannot use selenium easily and then work on it.

Thanks

[2016-03-31 14:26] vvo opened #61 "No DOM change event triggered when the input changes"
When we select a suggestion or autocomplete the input (tab key, right key), there's no `change` event triggered on the underlying DOM input nor on the container form if available.

I wonder if this is by design or a bug. Not having a change event makes it hard to use classical form/input on change and you must only rely on the autocomplete.js events.

What do you think?

[2016-03-31 14:53] redox commented on #61
I think it's a feature of the original typeahead.js library. Quick fix is to listen to the autocomplete.js event + forward a `change` event to the underlying input but I can try to check if it's automatically doable as well.

[2016-04-01 21:58] kylegibson commented on #60
I'll work on creating a test repo to demonstrate the problem. Thanks!

[2016-04-01 22:03] kylegibson opened #62 "Option to not close the dropdown when an item is selected"
When an item is selected, the dropdown is automatically closed. I thought I could `return false` or `event.preventDefault` to stop this behavior, but it still happens.

My use case is as follows:

When a suggestion is clicked, window.location is updated to load the new resource. For some users on slower connections, the drop down disappears and there's potentially several seconds of delay before t

[2016-04-01 22:29] redox commented on #62
Hmmmm, indeed the dropdown menu disappears on `blur`.

What you can do as a quick-fix is use the `debug: true` option in order to avoid this behavior (we're used to use that debug mode to inspect the menu's DOM/CSS even if we lose the focus) and then manually close the dropdown menu.

What do you think?

[2016-04-01 22:38] kylegibson commented on #62
`debug: true` has been very useful for testing. I want the menu to disappear on blur, just not when an item is selected. I determined that comment out this line allows me to achieve this behavior: https://github.com/algolia/autocomplete.js/blob/master/dist/autocomplete.js#L1874

[2016-04-01 22:43] redox commented on #62
Ah yes indeed, even with `debug: true` it's gonna close the dropdown because of that specific line. Hmmmm, do you think we should add a new option to disable to automatic closing of the menu (both on blur & select)? In that case, the only way to close the menu would be by calling explicitly `close()`.

[2016-04-01 23:08] kylegibson commented on #62
Perhaps. Another option is to check the state of `isDefaultPrevented`:

https://github.com/algolia/autocomplete.js/compare/master...kylegibson:issue_allow_select_handler_to_prevent_menu_from_being_closed

[2016-04-01 23:18] redox commented on #62
Ah yes looks good :)

We just need to wrap `$.Event` in the `_` (utils) objects so it stays  jQuery/Zepto/Angular compliant.

For instance, here is how we deal with `isArray`:
 - jQuery: https://github.com/algolia/autocomplete.js/blob/master/src/jquery/plugin.js#L10
 - Angular: https://github.com/algolia/autocomplete.js/blob/master/src/angular/directive.js#L11
 - Zepto: https://github.com/algolia/

[2016-04-05 09:24] vvo opened #63 "Make css classes from layout configurable?"
For projects like docsearch or places I would like to be able to generate such markup:

[code]

etc..

Mostly because:
- when talking about styling the project, we do not want/need to have the user understand places is based on algolia autocomplete. We are already wrapping it and hiding a bit of complexity.
- when the user will have both a docsearch and a places autocompletion menu, it will be a l

[2016-04-05 09:36] redox commented on #63
That will generate a lot of code, but definitely a good idea!

[2016-04-05 14:30] vvo opened #64 "cursorchanged should be triggered when hovering suggestions"
Like it's done when we use the keyboard to navigate suggestions.

[2016-04-06 19:59] kylegibson commented on #62
I updated my changes based on your suggestion. Thanks for the help. I'm not sure the angular wrapping is correct. How do you feel about me turning this into a PR against this repo?

[2016-04-06 23:36] redox commented on #64
Got the explanation https://github.com/twitter/typeahead.js/issues/580 but I'm not sure of the fix they did :/

[2016-04-07 09:11] redox commented on #64
Happy to have your POV on the initial fix + my new fix @vvo :)

[2016-04-07 13:22] vvo commented on #64
I think the typeahead fix was to avoid having multiple cursors BUT not to have the cursor changed event on mouseenter.

I believe they only wanted the cursorchanged event on keyboard.

[2016-04-07 13:23] vvo commented on #64
But this may make sense to only have it on keyboard, in a select for instance, using your mouse is not an option selection

[2016-04-07 13:25] vvo commented on #64
Well forget it, in a select, neither mouse over or keyboard usage will trigger a change event, I think your fix is legit

[2016-04-07 13:43] redox commented on #64
:+1:

[2016-04-07 13:51] #63 closed

[2016-04-07 13:51] #64 closed

[2016-04-07 14:29] vvo opened #67 "compare previous cursor with current cursor to avoid multiple mouse cursorchanged events"
If the suggestion has divs inside then mouseenter is triggered too often resulting in multiple cursorchanged events

[2016-04-14 11:56] jasperkennis opened #68 "Custom template doesn't seem to work"
I'm trying to use a custom template. In my source, I have
[code]

and in my code I have

[code]

however my dropdown renders like this:

![screen shot 2016-04-14 at 13 55 20](https://cloud.githubusercontent.com/assets/247177/14527212/9d1313e6-0248-11e6-8828-aace46fd52f4.png)

Seems to me like the template is found, but not rendered. Is that the case or am I mistaken?

[2016-04-14 12:04] redox commented on #68
Arg, sorry about that maybe the README is not clear. The template that we're describing there is a faux mustache template reflecting the DOM structure of the auto-completion menu -> this is not something you can write in your code.

To build custom dropdown menu, the only thing you need to do is match the CSS classes the library is expecting.

For instance, in the following [example](https://githu

[2016-04-14 12:32] jasperkennis commented on #68
I assumed something like that was it, but it seemed too easy to me xD That's great, I'll if I can get that running. Thanks for the quick answer:)

Small sidenote, maybe it's because I'm not native English, but I did read the "faux mustach" remark, but I didn't really get what that was supposed to mean;)

[2016-04-14 12:32] #68 closed

[2016-04-14 13:32] redox commented on #68
👍 will improve it

[2016-04-19 18:20] legshooter opened #69 "Highlighting"
Hey guys,

In the original twitter typeahead there was the `highlight` option, with algolia's implementation we have to access `suggestion._highlightResult...`, but what if I'm using the plugin with my own ajax calls like I used to do with twitter typahead, instead of the Algolia service? Is there a highlighting solution I'm not aware of?

[2016-04-19 22:51] redox commented on #69
Hi @legshooter,

yes indeed we removed it because our API was already doing the highlight. But your use-case is definitely legit, I'll try to restore such a feature. In the meantime, you can probably hack a `.replace(/\bQUERY_WORD/g, '<em>QUERY_WORD</em>')` for every word of your query.

[2016-04-19 23:44] legshooter commented on #69
Hi @redox,

My workaround currently looks like this:
[code]
Takes care of case in/sensitivity etc.

Eagerly waiting for the official patch.

Thanks a lot for the pro tip and quick response, and keep being awesome!

[2016-04-20 23:39] legshooter opened #70 "Debounce/Throttle"
Oops, noticed #50, closed.

[2016-04-20 23:44] #70 closed

[2016-04-20 23:47] legshooter commented on #50
Hey,

The old `typeahead.js` had `Bloodhound` which provided `rateLimitBy` (`debounce` by default, or `throttle`) and `rateLimitWait` (defaults to `300` miliseconds) for queries.

My current implementation with this plugin seems to be hammering the server with every key type (not using Algolia's service atm).

So basically:
- No point in making requests when the user is still typing.
- Not everybo

[2016-04-21 04:56] kylegibson commented on #62
Did you get an opportunity to review my changes? Thanks :)

[2016-04-21 08:25] vvo commented on #50
Hi, did you tried to debounce the source calls like this:

[code]

?

[2016-04-21 08:30] redox commented on #50
@vvo's recommendation is probably the way to go 👍

[2016-04-21 11:34] legshooter commented on #50
Thanks @vvo!

I didn't want to incorporate yet another dependency, so I eventually used a function:

[code]
Which is, apparently, `underscore.js`'s debounce.

And the implementation looks like this:
[code]

@redox - If it's worth anything, I do want to express that this feature incorporated in the plugin would be greatly appreciated, as it seems integral to it, and implementers would have one less

[2016-04-23 13:03] redox commented on #62
Sorry for the late reply; I will squash + merge #72

[2016-04-23 13:05] redox commented on #52
This has been fixed.

[2016-04-23 13:05] #52 closed

[2016-04-25 19:13] #67 closed

[2016-04-30 23:48] legshooter opened #73 "RTL"
Hey,

There's a problem when my layout is `html="rtl"`:
The input's placeholder defaults to `ltr` - `span.algolia-autocomplete` has `style="direction:ltr"`.

I gather this bit from the source code is responsible:

[code]

If I specify `style="direction:rtl!important"` or `dir="rtl"`, it properly aligns the placeholder, but it also stops auto-recognizing what direction the language that's typed in,

[2016-05-01 09:06] redox commented on #73
Arg, good catch. It has been a long time since I played with that feature but it indeed looks like a but. I'll give it a try, in the meantime you can just pass the option `hint: false` to disable it.

[2016-05-04 11:58] terranboy opened #74 "How to prevent to update the input value"
When the mouse hover the result in the dropdown, the search input auto display the value.
I don't need this.How to  prevent to update the input value?
Thank you.

[2016-05-04 12:01] redox commented on #74
Yes indeed good point; that's a side-effect of a fix we did recently about the `cursorchanged` event but it's probably something we want to disable by default.

@vvo what do you think?

[2016-05-04 12:24] vvo commented on #74
Yep on mouse over we should not change the input value by default.

[2016-05-04 14:59] vvo opened #75 "angular build broken?"
I cannot make the angular playground or the angular build work.

And I am unsure but I think our Angular build still need jquery to be included to really work.

[2016-05-04 17:36] redox commented on #75
Fixed with c6e78c1c672a8db25e3fe312a9c52e16de29ce86

Yes yes, you **need** to include jQuery in addition to Angular.

[2016-05-04 17:36] #75 closed

[2016-05-12 22:58] iafan opened #77 "Align popup better so that it is not trimmed at the right edge of the screen"
Sometimes the search box is located at the right edge of the screen, and the auto-completion popup, being aligned to the left edge of the input field, is displayed partially behind the right edge of the screen.

I'd suggest adjusting its horizontal position automatically when possible so that it is fully visible within the page boundaries.

The logic can be something like this: if page width is bi

[2016-05-13 06:05] redox commented on #77
At least definitely something we need to document. I'm used to play with `margin-left: -XXXpx` to align on the left but I understand it can be confusing. Regarding the auto alignment, it's not that simple because a lot of searchbars have padding, arounded corners, etc... but I get your point.

[2016-05-13 06:11] iafan commented on #77
Consider this layout as an example (Docsearch search box in the top right corner): https://serge.io/ — I don't think there's a way to position this correctly using CSS-based absolute positioning, unfortunately.

[2016-05-13 06:13] iafan commented on #77
Oh, you meant using margin — that would actually work. Thanks!

[2016-05-13 06:37] redox commented on #77
Yes, that's the quick fix :)

But having an option (or a CSS class) letting the user decide whether it's left or right aligned by default make sense.

[2016-05-23 22:56] kaelig opened #78 "Aria Roles - Screen Reader support"
Adding aria roles where necessary would make search suggestions readable by screen readers.

I am not an expert in this field but @ova2 put a Pull Request together a long time ago at https://github.com/twitter/typeahead.js/pull/995 that added some pretty good screen reader support, in case that can be of help.

I've tested with VoiceOver on MacOS: using up/down keys to navigate through suggestions

[2016-05-23 23:20] pixelastic commented on #78
Thanks for the suggestion. I'd love to have this support as well, but I have no experience in this field and have trouble understanding what the PR is doing.

Could you give me a bit more details about the end result (which attributes to add on which elements) so I can see the best way to add it to the lib?

[2016-05-23 23:25] kaelig commented on #78
Thanks for the fast answer. We'll investigate with @sitaggart to come back with a satisfactory answer!

[2016-05-25 06:12] anselmh commented on #78
Maybe this [sitepoint article on accessible web components (multi-select)](http://www.sitepoint.com/accessible-web-components/) can help a bit as well.

[2016-05-25 15:51] rayrutjes opened #79 "Empty template in multi-indices queries."
I am building an autocomplete over multiple indices. What I would like is to display a message when there are no results in any datasets.

Actually we can set an `empty` template on each individual dataset, but not on the global level.

Is this possible? What would be the easiest way to achieve this?

[2016-05-25 20:44] pixelastic commented on #78
Thanks. I've read the article and see what I can do about it. Any help greatly appreciated here :)

[2016-05-25 20:57] pixelastic commented on #79
According to the documentation, the dropdown wrapper should have a CSS class of `aa-without-foo` when no results are found in the dataset `foo`.

If you have multiple datasets, you might be able to select the state where they are all empty with a selector like `.aa-without-foo.aa-without-bar.aa-without-baz`. I would then add an hidden `div` in the `dropdownMenu` template, containing the message to

[2016-05-25 21:21] rayrutjes commented on #79
@pixelastic Thx for the reply. In my case this is not going to work, or will result in css injected with javascript because the number of datasets is dynamic.
I think that I could achieve this without to much pain with some javascript, but I was wondering if the lib was maybe already designed to to so.
Would be nice if this was possible out of the box.

[2016-05-25 21:48] redox commented on #79
Sorry I'm a bit late here. Indeed the "only" way to display something for now would be to have a custom `<div />` in the menu and display it only if all datasets are empty with `.aa-without-foo.aa-without-bar.aa-without-baz`.

Definitely something we could improve adding a global `empty` template like we do for `header` and `footer`.

[2016-05-25 21:53] redox commented on #40
@ivoputzer I read the code again and I'm not sure why you think there is an issue. Could you elaborate what is wrong with the `_.every` function?

[2016-05-25 22:33] kaelig commented on #78
I can help do some testing with Safari & VoiceOver. We also have a blind quality engineer who can help tell us if this is usable.

[2016-05-25 23:30] pixelastic commented on #78
@kaelig Could you share your website address, so I have a real-world example on which to test?

[2016-05-25 23:41] kaelig commented on #78
@pixelastic we're going to release search on www.lightningdesignsystem.com very soon. For this first release we're going to hide the search form away from screen readers.

[2016-05-26 01:09] pixelastic commented on #78
I'm working on an Ubuntu machine and tried to install ChromeVox as a Chrome extension, but it just freezes and kill my browser. I'm going to try other screen readers on Ubuntu, but any suggestion on which one I should use are welcome.

[2016-05-27 06:06] pixelastic commented on #78
I pushed a branch with part of the improvement of the PR on typeahead here : https://github.com/algolia/autocomplete.js/tree/fix/voice

I have only added basic roles (combobox/listbox), setting the `aria-expanded` based on the dropdown visibility and linking the `aria-activedescendant` to the id of the actual selected suggestion.

I'll now have to add the support for reading the hint, but I wanted

[2016-05-27 21:10] rayrutjes opened #81 "Attach the dropdown to the document"
Very often, there are websites which are wrapping search inputs into containers containing the `overflow: hidden` rule, resulting in the following.
![image](https://cloud.githubusercontent.com/assets/5570853/15621124/fdd157dc-245e-11e6-8bbc-29d18174f671.png)

I think we should try to attach the dropdown to the document and position it with javascript.

This would also resolve the case where the in

[2016-05-28 08:24] redox commented on #81
It's true that such `overflow: hidden` rules happen from time to time and it's always super confusing. Not yet sure about the complexity however.

[2016-05-28 08:44] redox commented on #81
Seems doable but it might break the CSS rules expecting a `.aa-dropdown-menu` below the `.aa-autocomplete` and so.

[2016-05-28 08:59] rayrutjes commented on #81
Maybe we could use http://tether.io/

[2016-05-28 09:03] redox commented on #81
Actually, I've the branch locally that absolute positions it; that's easy. I'm just wondering how bad it will be to extract the `.aa-dropdown-menu` from the `.aa-autocomplete` wrapper in terms of CSS rules.

[2016-05-28 09:16] rayrutjes commented on #81
You mean in term of styling or JS behaviour?

[2016-05-28 09:29] redox commented on #81
Styling (because all our users are using: `.aa-autocomplete .aa-dropdown-menu { .... }`

But that could be part of the major version bump and 1.0 release.

[2016-05-28 09:31] rayrutjes commented on #81
And what if we keep the current behaviour by default but allow for detaching the dropdown at runtime?

[2016-05-28 09:52] vvo commented on #81
Yep an option like `absolutePositioning: true` might solve those usecases without breaking the current API. This can't be activated by default, since we do not really know how are people styling the autocomplete, maybe they are using a css selector using a far #parent.

[2016-05-31 18:09] pixelastic commented on #81
Agreed to keep it as an option for now (and set it as default in the next major version if it proves valuable). We should keep the same CSS selectors even in absolute positioning, though. Could be achievable by wrapping the dropdown into a `.aa-autocomplete`.

[2016-06-01 21:48] legshooter opened #83 ""bower list" shows weird version?"
── algolia-autocomplete.js#0.19.0 (**latest is 1.17.0**)

[2016-06-01 21:57] redox commented on #83
Interesting :/ The latest should be 0.19.0... but I just discover that we screw up some releases puting 1.x instead of 0.x:

<img width="408" alt="screen shot 2016-06-01 at 23 56 23" src="https://cloud.githubusercontent.com/assets/29529/15727045/7e7d31a0-2854-11e6-8e99-fb1b061697a8.png">

I'll check if I can remove them.

[2016-06-01 22:02] redox commented on #83
I updated the tags and it seems to fix the issue. Let me know how that goes on your side!

[2016-06-01 22:02] #83 closed

[2016-06-04 13:47] #74 closed

[2016-06-04 13:47] #79 closed

[2016-06-10 14:10] LukyVj opened #84 "The style of the input change depending of the "hint" boolean value."
I noticed that the style of the autocomplete input drastically change depending the value of `hint`.

`hint: false` =>
![](http://puu.sh/pnHZ5/7d7a0f44ef.png)

`hint: true` =>
![](http://puu.sh/pnI0v/ff191b6b9d.png)

See a reduced testcase here : http://codepen.io/LukyVj/pen/29ec7fe6f9e113ef0ad87b4d322dccd9?editors=0110

[2016-06-10 14:20] vvo commented on #84
I think that's a "normal" effect. Here you have two inputs stacked, you need to style them accordingly or use the autocomplete.js default css from the README I believe.

[2016-06-13 04:55] andymac4182 commented on #81
This would solve the issues I have at the moment with bootstrap and having to change the styling of my site since the wrapper is breaking the floats and responsive classes from bootstrap aren't automatically applied correctly.

[2016-06-13 07:20] rayrutjes commented on #81
@andymac4182 We are working on it but haven't had the time to finish the implementation /cc @redox
We have some concerns about breaking existing implementations, and we want to make sure the positioning is right regardless of the positioning of the search input in the page.

If you want a quick fix, you can use http://tether.io/ on the dropdown. It will extract it from the search container.  You w

[2016-06-13 20:32] rayrutjes opened #85 "Follow first link on suggestion selection."
It would be nice if we could have an option to follow the first link of a suggestion on click and suggestion selection.

Is suppose this feature is re-implemented in nearly every usage of the lib.

WDYT?

[2016-06-13 20:39] redox commented on #85
Not sure I got your point. To follow the link of a clicked/selected suggestion I'm used to do:

[code]

[2016-06-13 20:58] rayrutjes commented on #85
Yes I got the same piece of code, so that's why I thought we could integrate it into the lib somehow.

We could rely on the dom of the currentTarget like:

[code]

And we could instantiate the autocomplete like:

[code]

In my opinion it is not a huge feature, but at the same time this is used on every implementation, so very handy.

[2016-06-13 22:28] redox commented on #85
Might be a bit tricky if you don't render any `<a>` element (I remember rendering suggestions with `<div>` only) but I understand your point.

Maybe we could also do something like:

[code]

To keep compliant with the `displayKey` option and not rely on DOM parsing.

[2016-06-14 07:48] vvo commented on #85
Yes for the way where the user has an `href` property in his record and we follow it if he provided so in the options of autocomplete.js.

We should no try to dig inside the suggestion rendered DOM indeed, you could have multiple `<a>` for various usages.

[2016-06-14 08:30] rayrutjes commented on #85
You both made your points about not basing the feature on the DOM.
Your suggestion about giving a key available in the suggestion looks great!

[2016-06-14 10:45] redox commented on #85
I'm not sold by the `locationKey` yet, maybe `hrefKey` or `urlKey` or `linkKey` ?

Yeah, here we're already talking about `key` so I think I'll keep that.

[2016-06-14 19:54] rayrutjes commented on #85
Hard choice indeed, I personally prefer locationKey or urlKey.

[2016-06-15 07:34] vvo commented on #85
urlKey seems good

[2016-06-20 14:14] legshooter commented on #73
This is still in your plans hopefully..?

[2016-06-20 15:37] legshooter opened #87 "Empty event"
I can't seem to find a way to react to an empty result, no event is triggered specifically on empty, and I can't find anything in `autocompelete:shown` to hint me of that. Is there something I'm missing?

I'm trying alternative empty approaches like changing input color, icon, etc.

[2016-06-20 15:53] rayrutjes commented on #81
Actually we should also avoid wrapping the search input with a new span, this also breaks the layout.

[2016-06-20 15:57] maxiloc commented on #81
We already do that on magento and it's working pretty well.
We already have the option to put the dropdown elsewhere than near the input

[2016-06-20 20:29] redox commented on #87
Correct, I'll add an event; it makes a lot of sense.

[2016-06-20 20:31] vvo commented on #87
We added a "clear" event in places

[2016-06-20 20:42] redox commented on #87
Yes definitely something we'll also need to backport.

[2016-06-20 20:46] redox commented on #73
Arg, didn't spend time on it yet but definitely something I need to investigate. I should be able to work on it this week. Sorry for the delay @legshooter :/

[2016-06-20 20:54] vvo commented on #87
But empty and clear are the same right?

[2016-06-20 21:05] redox commented on #87
Nope, `empty` is when the underlying datasets are not returning any results. On the other hand `clear` is when you press the right cross, right?

[2016-06-20 21:08] vvo commented on #87
ohhh, tricky difference. Yes `clear` is when the query is emptyied, empty is when the datasets are returning no results.

Not sure we want to name it empty in the case of an empty dataset, it's very close to the "empty query" case no?

[2016-06-20 21:10] redox commented on #87
Hmmm, I think it's OK because it fits the `empty` wording we're already using for templates.

[2016-06-22 16:59] rardoz commented on #81
Maxiloc... could you point me to how to implement the option to put the dropdown elsewhere than near the input?

[2016-06-22 20:07] maxiloc commented on #81
@rardoz You can use the dropdownMenuContainer option => https://github.com/algolia/algoliasearch-magento/blob/master/design/frontend/template/topsearch.phtml#L774

[2016-06-27 08:58] vvo commented on #47
@maxiloc to use the standalone destroy method you must use var autocompleteInstance = autocomplete()..; autocompleteInstance.autocomplete.destroy()

[2016-06-27 14:06] redox commented on #47
Yeah, not very convenient; isn't it?

[2016-06-27 14:16] vvo commented on #47
@redox All of the methods like setVal, destroy are on the .autocomplete sub property. We can make it better but as far as this issue, the destroy method is working.

Then how the various methods are exposed that's maybe another issue?

[2016-06-27 14:19] vvo commented on #47
This is documented like that today: https://github.com/algolia/autocomplete.js#standalone-version

[2016-06-27 15:05] redox commented on #47
OK, indeed; that works.

[2016-06-27 15:05] #47 closed

[2016-07-08 11:18] pandaiolo opened #89 "Server side rendering (SSR) compatibility?"
It seem that the component is not SSR compliant. Example trace:

    error given was: ReferenceError: window is not defined
         at Object.<anonymous> ([...path...]/node_modules/autocomplete.js/src/standalone/index.js:3:16)
         at Module._compile (module.js:413:34)
         at Module._extensions..js (module.js:422:10)
         at Object.require.extensions.(anonymous function) [as .js] ([.

[2016-07-08 11:59] vvo commented on #89
Sure! If you have any ideas on how to fix it that would be interesting.

Still, I am wondering, what's the usecase of having autocomplete.js rendered server side?

[2016-07-08 12:41] pandaiolo commented on #89
In the end, I might not have the time in the short term, sorry for the false promise :)

About the use case, actually, I did not even rendered the component, it was only imported and throwed at parse time (cf the error trace is when module is loaded).

I have a webpack bundle which includes all needed deps, and I have the first page rendered on the server. All other deps, even client side, don't c

[2016-07-08 13:57] vvo commented on #89
Can you somehow avoid to try to instantiate the autocomplete on the server? I am not sure it's worth it to try as it is today to make it SSR compliant

[2016-07-08 14:25] pandaiolo commented on #89
I do not instantiate it on the server, the error is at the loading, actually at the very first line of the script :

    var current$ = window.$;

I cannot really make an exception just for this file to exclude it from my bundle, but anyway I realize that I need something closer to my app ecosystem. I think you're right autocomplete.js was not made for this kind of use case.

Thanks !

[2016-07-08 14:38] vvo commented on #89
Yes once you are in REACT then you need a react like autocomplete. You will still be able to easily plug it to your Algolia account, let us know if you need help on that part in support or another issue.

[2016-07-08 14:38] #89 closed

[2016-07-15 03:17] kylegibson opened #90 ""not enough arguments" error with zepto getComputedStyle"
The `getComputedStyle` shim included with zepto doesn't allow for the optional second parameter, which is actually required in older browsers.

Good news is that the fix for this was just merged in a few days ago: https://github.com/madrobby/zepto/pull/1074 and is available in zepto 1.2.0

[2016-07-15 07:19] redox commented on #90
Awesome, gonna give it a try now.

[2016-07-15 07:55] #90 closed

[2016-07-16 14:36] redox commented on #84
Yes correct. Does that make sense @LukyVj?

[2016-07-16 14:36] #84 closed

[2016-07-16 14:43] redox commented on #32
Let's remove `data` once we'll remove the `jquery/zepto` dep.

[2016-07-16 14:43] #32 closed

[2016-07-16 14:43] #4 closed

[2016-07-16 14:44] redox commented on #36
There is a feature like that in our short term roadmap. In the meantime, the best way is to use an additional index filled with all brands/categories values.

[2016-07-16 14:44] #36 closed

[2016-07-16 14:44] #40 closed

[2016-07-17 13:32] vvo commented on #32
:heart:

[2016-07-18 21:31] rayrutjes opened #91 "getVal() always returns undefined"
[code]

getVal() always returns `undefined` (with standalone implem) . Using setVal works as expected though.

[2016-07-18 21:52] rayrutjes commented on #91
Might be related to https://github.com/algolia/places/issues/288

[2016-07-19 08:08] vvo commented on #91
Can you dig a bit in the code to see what's wrong? :D

[2016-07-19 08:24] vvo commented on #91
So this is not related to the places bug, at least setVal in places was not working because of a bug. getVal() in autocomplete.js standalone is not working yes.

[2016-07-19 09:58] frenchbread commented on #91
@vvo Cool! Thanks for quick fix.

[2016-07-19 12:39] vvo commented on #91
Will be released today along with places

[2016-07-19 14:22] rayrutjes commented on #78
Hey team, I was also asked about ARIA support which is a requirement for all government domains.
Do we have an ETA of where we are actually and what we should do here? Is someone working on this?

[2016-07-19 15:25] Daaaaad opened #94 "Enter key on selected suggestion"
Hello, how to let the user select a suggestion with the keyboard (down key) and select the suggestion if the user press the enter key ?

[2016-07-19 16:05] vvo commented on #94
Hi @Daaaaad I think the default option are already providing you so no? See this codepen: http://codepen.io/Algolia/pen/OXgkxv

[2016-07-19 16:41] #87 closed

[2016-07-19 16:41] #91 closed

[2016-07-19 20:15] legshooter opened #95 "New autocomplete:empty quirks"
Hey,

The new `autocomplete:empty` fires right away on focus.

It then fires on the first keystroke even on `minLength: 2`.

So for example, when typing `s`, it fires twice, without actually querying and getting an empty result even once.

Thanks

[2016-07-20 08:28] vvo commented on #95
@rayrutjes Wanna take it?

[2016-07-20 08:45] rayrutjes commented on #95
I'd be honored 👍

[2016-07-20 09:16] Daaaaad commented on #94
You're right @vvo, but my template contains a link and I would like the user to be redirected to this link when pressing the enter key... I guess I have to to custom code for that, right ?

[2016-07-20 09:18] vvo commented on #94
Ok I see what you want, you can use that: https://github.com/algolia/autocomplete.js/issues/85#issuecomment-225701216

We may provide an easier way to do so soon, https://github.com/algolia/autocomplete.js/issues/85

Let me know

[2016-07-20 11:06] Daaaaad commented on #94
It works, perfect ;)

[2016-07-20 11:26] #94 closed

[2016-07-20 11:26] vvo commented on #94
awesome!

[2016-07-26 13:28] legshooter commented on #95
Thanks for #98, @rayrutjes!

[2016-07-26 13:49] #95 closed

[2016-07-27 08:14] rayrutjes commented on #95
@legshooter Can you confirm that the behaviour now meets your expectations?

[2016-07-27 10:52] legshooter commented on #95
Yup, that's exactly what I'm saying!

Any chance you can peek in #73? I can't seem to figure it out by myself :/

[2016-07-27 11:13] legshooter opened #99 "Introduce defaults"
Hey guys,

Have you considered introducing defaults?

Having to write all the boilerplate on the same (or very similar) implementations across an app is kinda daunting and not very DRY.

What do you think?

[2016-07-27 12:21] rayrutjes commented on #95
@legshooter I will see what I can do!

[2016-07-27 12:24] vvo commented on #99
HI @legshooter, to better understand your issue, can you be more explicit by giving a bit of code sample that is concerned by your issue?

[2016-07-27 12:33] rayrutjes commented on #73
@legshooter If I am to investigate this issue, I would love to make sure we are doing it the correct way ;)

If I understand your previous statements correctly, you would like the autocomplete input direction:
- to equal the dir of the html by default
- be overridable at the autocomplete component level (e.g. use RTL even if html is in LTR)

Of course the hint should follow ;)

Please correct the

[2016-07-27 12:43] legshooter commented on #99
Hi @vvo,

Sure, I mean a defaults object like many  other plugins have, that gets merged with the object's options, e.g.
[code]

If I want to implement the same behaviour for 100 autocompletes in my app, why should I retype:
[code]
And even further, with the datasource:
[code]
This is just an example of course, but why should I write this 100 times, when possibly all I need to change between imple

[2016-07-27 13:05] legshooter commented on #73
Yes, exactly what you described, but *also*:

When `dir` is `auto`, switching between LTR language and RTL language (left `ALT` + `SHIFT` on Windows) results in the cursor jumping to the left or to the right, respectively, and the hint follows.  Which is great. *I'd like to keep this behavior, even when the plugin detects that the document is in a certain explicit direction*.

You might be wonderi

[2016-07-27 14:46] rayrutjes commented on #73
Thank you for the details. Will try to look into it ASAP.

[2016-07-27 20:28] legshooter opened #100 "Visual indication for autoselect"
Hey,

Currently, all `autoselect` does is select the first `suggestion` when the user hits the `enter` button. I think the more natural behaviour would be to also "auto-cursor" it, because then the outcome is actually expected.

I found myself doing:
[code]

Which ironically makes `autoselect` redundant, since even when disabled, the above code makes it autoselect. I'm guessing this is due to mutu

[2016-07-27 21:51] rayrutjes commented on #100
Makes sense, but this would introduce a UX BC issue.
What do you think @redox @vvo ?

[2016-07-28 07:38] redox commented on #100
I think that makes sense 👍  @legshooter any chance you could submit a PR?

[2016-07-28 11:25] legshooter commented on #100
I tried: https://github.com/algolia/autocomplete.js/pull/101

[2016-07-30 20:03] akshayKMR opened #102 "Template for empty not visible"
![image](https://cloud.githubusercontent.com/assets/11945793/17272795/9f2d1400-56bd-11e6-9ea1-579e91f4735b.png)
The span element with `aa-dropdown-menu` gets set to `display:none` when there are no results, because of which my template is not visible. Tried putting template in top config as well as for a particular source.
config options are straightforward
[code]
Where `empty` is an html string,

[2016-07-30 22:43] rayrutjes commented on #102
@akshayKMR I'm pretty sure this is us missing something, I will take a look at it.

[2016-07-30 22:56] rayrutjes commented on #102
Hi again @akshayKMR,
I've just tested the behaviour, and the only way I got to reproduce the state where the aa-dropdown was hidden, is when I put a `minLength` value.

In your case, are you using minLength? We do not trigger the empty template display when minLength is not reached.

If this is not minLength related, could you maybe share the complete code and maybe scenario that causes the issue?

[2016-07-31 05:04] akshayKMR commented on #102
I'm not using `minLength`, so it should default to 1.  I've just tested it further, apparently it this only occurs when there is no result from the get go, if there was at least one result mid query then the empty template is visible.
I would expect it to show up in the former case as well, and also if the user presses 'enter' key.
![jul-31-2016 10-25-33](https://cloud.githubusercontent.com/assets

[2016-07-31 07:50] redox commented on #102
Ah wait, I'm wondering if we don't have a weird bug when `debug: true` is set. Can you try without @akshayKMR ?

[2016-07-31 07:58] akshayKMR commented on #102
@redox Tried it, same behaviour.

[2016-07-31 10:42] rayrutjes commented on #102
Good catch @akshayKMR, let me try this out again 👍

[2016-07-31 10:46] rayrutjes commented on #102
I confirm this is a bug and will fix it.

[2016-08-01 08:48] #102 closed

[2016-08-03 19:23] akshayKMR commented on #102
Thanks 👍

[2016-08-11 15:00] Targun opened #106 "Fill <input /> with autocomplete:selected"
How would I fill the input with the selected value?

This worked but has a huge lag:
[code]

[2016-08-12 15:59] legshooter commented on #106
Did you try https://github.com/algolia/autocomplete.js#jqueryautocompleteval-val?

[2016-08-12 16:27] Targun commented on #106
Thanks @legshooter - Do you know if there is a way to do this without jQuery?  (Using Angular)

Javascript:
[code]
HTML:
[code]

// LOGS:
document.getElementById(...).autocomplete is not a function

[2016-08-12 16:35] legshooter commented on #106
It makes sense, it is a jQuery plugin, it literally doesn't exist where you're trying to call it. I have no Angular experience atm, so I can't help you with that, though I thought Angular excels at data binding. Maybe someone else has an idea, or one of the maintainers catches up with this.

[2016-08-12 20:51] jonchay opened #107 "Hitting "right arrow" key on suggestion"
In twitter's typeahead, there's a functionality of hitting the right arrow key on a suggestion that will populate the input field and does a query call based on the suggestion.

It looks like this functionality has disappeared, is this something that was deliberately removed?

[2016-08-13 16:08] redox commented on #107
Arg, nope it wasn't deliberately removed. We'll need to investigate.

[2016-08-14 01:35] Targun commented on #106
Adding $scope.$digest() helped speed up the process, but when tabbing/blurring out of the input, the value changes to its pre 'autocomplete:selected' value.

[code]

[2016-08-16 07:36] redox commented on #106
Yes I think calling `$digest` or `$apply` is the way to go.

Then, about the value being changed to its previous value; I'm not sure to understand why. Maybe setting the `$scope.q` is not enough and we should call the underlying `setVal` method as well.

Maybe try

[code]

PS: the provided angular binding is just a wrapper on top of the jQuery library, that's why it's not 100% angular-proof.

[2016-08-16 11:55] Targun commented on #106
I had a strange reaction where the ng-model was updated properly (I could log it in a function), but for some reason the input would stay the short version. Seemed impossible...

Thanks for the help on this, but I had to resort to another autocomplete library. Still using Algolia for data retrieval :)

[2016-08-25 08:36] vvo commented on #99
Hi @legshooter we already have defaults internally for example if you only specify hint: false you will still get the default settings.

We could expose those default settings of autocomplete.js but I am failing at seeing what would be the use case since we already do merging of parameters internally.

The examples you gave me seems to be defaults of your application not defaults for the whole com

[2016-08-25 09:06] legshooter commented on #99
This is exactly what I am talking about, most serious jQuery plugins out there expose defaults for the user to change (I did it myself with [addel](https://github.com/legshooter/addel)).

The examples are my own, but it's the principle, it has _nothing_ to do with any specific option _I_ choose to use.

The advantage is, again just for example, that the user can set 10 options as the defaults, and

[2016-08-25 09:18] vvo commented on #99
Hi @legshooter do you have a good example of a plugin proposing defaults and how it can be used to be enhanced and applied everywhere?

If I understand well it's like providing an object containing defaults options and if you mutate (modify) it, it will be applied to any call to .autocomplete?

[2016-08-25 09:43] #106 closed

[2016-08-25 11:29] legshooter commented on #99
Exactly.

[Select2](https://select2.github.io/options.html#setting-default-options) and [DataTables](https://datatables.net/examples/advanced_init/defaults.html) are a couple of popular jQuery plugins with an exposed defaults object/API, and provide some explanations of their own.

[2016-08-25 11:57] vvo commented on #99
Ok now I fully understand what you meant. One challenge thought is that autocomplete.js is currently a jQuery, vanilla JS and angular JS plugin. So we would also have to find API proposals that would fit for vanilla JS or angular JS.

This default object behavior seems to be very popular with jQuery plugins indeed.

I would say you should keep doing what you are doing today: manually handling your

[2016-09-01 10:44] scerelli commented on #58
@pukapukan If you want I made this https://github.com/scerelli/react-algoliasearch it can be improved but it's a start

[2016-09-01 17:31] 7091lapS opened #108 "How to have initial values in a form"
I'm using autocomplete.js in a form and I need to keep the selected values in the inputs after submitting the form, so that the search can be submitted again with the same values. After the first search is submitted, the stringified autocomplete objects are accessible in the the browser's params, but I don't know how to use them to set the previous autocomplete objects as the initial values of the

[2016-09-02 08:07] redox commented on #108
To programmatically set the autocomplete.js field to a value you can use the `val` (jquery) or `setVal` (standalone) methods documented [here](https://github.com/algolia/autocomplete.js#api).

You still need to implement the logic grabbing the value from the browser's params :)

Is that what you were looking for @7091lapS ?

[2016-09-02 13:11] 7091lapS commented on #108
That is exactly what I was looking for, thank you @redox !

[2016-09-02 13:23] legshooter commented on #100
Merged and looks good. Thanks everyone, closing now.

[2016-09-02 13:23] #100 closed

[2016-09-02 13:57] redox commented on #108
Cool 👍

[2016-09-02 13:57] #108 closed

[2016-09-05 22:03] rayrutjes opened #109 "Empty template gets rendered after footer template"
It looks like the empty template gets rendered after the footer template.
![image](https://cloud.githubusercontent.com/assets/5570853/18257506/0f0cb144-73c5-11e6-86ed-e9a4153f46c3.png)

[code]

[2016-09-12 12:19] Mystmoon opened #110 "Algolia autocomplete with autoselect: true issue"
I have the following search code:

[code]

My problem is that when I start typing in the search box, the top element is selected and the text in the search box is set to this match. I am unable to keep typing or deleting the text in the search box. Typing or deleting simply keeps selecting the original match.

I am trying to make the first hit highlighted to select it on enter, but I want to be ab

[2016-09-12 12:49] redox commented on #110
Definitely a bug @Mystmoon, we shouldn't fill the input with the `displayKey` in that case. I'll work on that in the next few days.

[2016-09-14 06:35] angkywilliam commented on #58
@scerelli Does your library support multi-category auto complete as well?

[2016-09-14 06:37] redox commented on #58
From what I get it doesn't, but you should contribute to @scerelli's (awesome) project!

[2016-09-14 10:39] ktkaushik commented on #110
+1 on this bug as a priority please

[2016-09-14 18:26] robertharm commented on #110
+1 on this bug from me too

[2016-09-15 05:00] ktkaushik commented on #110
asd

[2016-09-15 08:56] #110 closed

[2016-09-15 08:59] redox commented on #110
This has been fixed in `0.21.5`. Let me know how that goes!

[2016-09-16 10:44] robertharm commented on #110
`0.21.5` fixes the issue for me - thx!

[2016-09-19 18:28] abuisine commented on #102
Hi there ! :)
I seem to have the same problem (empty result box not being displayed) with 0.21.5

It has been working for ages on my website with 0.20.1.
Switching back to 0.20.1 solves the problem.

[code]

[2016-09-19 19:42] robertharm opened #112 "is it possible to limit number of results in dropdown?"
I use autocomplete.js to adapt to different geocoding providers. Most (including Algolia) allow to limit the number of results returned by adding a GET parameter like `&hitsperPage=5` - some on the other hand don´t (due to caching) and always return 10 results.

As I couldn´t find a related setting, I wonder if it is possible to limit the number of results by autocomplete.js? If not, adding that f

[2016-09-20 10:01] voidale opened #113 "Autoselect on blur"
When using the autoselect: true, it indicates that it's selecting the first suggestion, what I saw that on mobile (iOS, Safari) clicking done doesn't trigger the "Enter" event so it's doesn't select it. In android I noticed that after you see the indication that it's selected users just switch to next input.

So I really needed a way to select it on blur, I've created new option "autoselectOnBlur"

[2016-09-21 07:42] #109 closed

[2016-09-21 10:09] redox commented on #102
Hey @abuisine; thank you for spotting that. This has been fixed and release in the 0.21.7 release 👍

[2016-09-21 10:09] redox commented on #109
Fixed in `0.21.7` 👍

[2016-09-21 10:09] redox commented on #113
Hey @voidale,

I would love to review such a PR, go ahead 👍

[2016-09-21 13:40] scerelli commented on #58
No it doesn't and since i don't know the api's really well any kind of help is appreciated, even just a proposal.

thanks @redox  :D

[2016-10-17 14:59] rayrutjes opened #117 "Allow to choose the window attribute name to avoid conflicts"
This lib introduces the window.autocomplete variable.

The problem being that this attribute name is widely used nowadays.

Would there be an easy way to allow using another name?

This currently conflicts with google map autocomplete and jquery-ui autocomplete.

[2016-10-17 15:29] czmarcos opened #118 "f.bind is not a function"
Tested the autocomplete.js/examples/basic_angular.html example and also tried to implement a custom autocomplete inside my angular project and both are getting this similar error:

**basic_angular.html:**

angular.js:12332TypeError: f.bind is not a function
    at new d (autocomplete.angular.min.js:6)
    at new d (autocomplete.angular.min.js:6)
    at Object.f [as fn] (autocomplete.angular.min.js

[2016-10-17 16:23] ehayman commented on #118
Hi @czmarcos,

You'll need to make sure you're including jQuery as a dependency before loading the autocomplete.js dependency (not just Angular's jqLite).

Let me know if you run into any further issues!

[2016-10-17 17:03] czmarcos commented on #118
Hi @ehayman , thanks for your response. I'm new to angular and I'm creating my first Ionic project, so could you please give me further details on this issue?

- So far, I included all js files in my index.html:

[code]

- Called 'algoliasearch', 'algolia.autocomplete' modules inside my app.js

- Included the input and controller inside my html template.
<input type="text" id="search_location" ng-

[2016-10-19 18:56] ifeltsweet commented on #69
+1, also miss this feature from typeahead.

[2016-10-19 20:18] vvo commented on #69
Thanks for getting back here, currently the workarou from @legshooter is the way to go

[2016-10-19 20:23] vvo commented on #117
Hard problem, I think autocomplete naming is too generic yes and we will get conflicts over and over.

As we are currently discussing making autocomplete part of the instant-search experience, we could get out of it pretty soon by framing it under instantsearch namespace which is far less used in JavaScript libraries (basically, first arrived first served)

[2016-10-20 03:37] thanhmabo opened #119 "How using algolia/autocomplete.js in vuejs 2"
## my html

[code]
## my js

[code]

My jsfiddle
https://jsfiddle.net/thanhmabo/f6q1s0L2/2/

This codes no active, can you help me how to integrate it into vuejs 2

[2016-10-20 08:51] ehayman commented on #118
Hi @czmarcos,

Do you mind adding your code to a JSFiddle (or something similar!) just so I can take a deeper dive and help you debug the issue?

Thanks!

[2016-10-20 10:49] redox commented on #119
Hi @thanhmabo, I've no experience of using autocomplete.js in Vuejs 2. Maybe @rayrutjes can help us?

[2016-10-20 12:26] czmarcos commented on #118
@ehayman , I tried to reproduce what I did in this codepen:

https://codepen.io/marcos_arata/pen/vXQbab

Tks in advance!

[2016-10-21 12:45] ehayman commented on #118
Hi @czmarcos,
Unfortunately, we currently don't support using angular directives such as ng-click directly in templates. This is something we are working on for the future, however.

[2016-10-21 14:51] czmarcos commented on #118
Got an answer from [Stackoverflow](http://stackoverflow.com/questions/40178416/ng-click-doesnt-work-with-external-javascript/40178905#40178905) that solved my issue.

[code]

[2016-10-21 14:51] #118 closed

[2016-10-24 09:07] ElPicador opened #120 "[Doc] Add an exemple for displayKey as a function"
Something like:

[code]

[2016-10-24 11:57] vvo commented on #120
@ElPicador where should this fit? The documentation already state that displayKey can be a function. I just want to be sure we are solving something here.

[2016-10-24 12:01] ElPicador commented on #120
I don't really know where it could fit.

My exact issue was: I read the doc, see that you could pass a function, but I had no idea what should do this function. Does it take parameter(s)? If yes, of what type? What should be the result? I had to dig in the source code to understand what I should do.

Is this clearer?

[2016-10-24 12:02] vvo commented on #120
Yes, gonna update the documentation then :)

[2016-10-24 12:05] ElPicador commented on #120
Thanks @vvo :)

[2016-10-24 12:08] #120 closed

[2016-10-25 14:58] czmarcos opened #122 "on('autocomplete:selected') firing twice"
Hi, whenever I select/click on a result from autocomplete.js the event is firing 2 times:

https://codepen.io/marcos_arata/pen/VKVOky

Does anyone have any idea?

I tried to create a trigger but didn't work as well.

Thanks

[2016-10-25 16:09] vvo commented on #122
From your example it seems like your controller is instanciated twice. Maybe this comes from here

[2016-11-02 11:10] Pab89 commented on #113
I set the autoselectOnBlur to true, and now it selects an input on (iOs safari) on touch, but one major problem is no matter what you click it always selects the first input? So if theres 3 suggestions and you click suggestion 2 it's still suggestions 1 thats selected. No i need more options for it to work properly or is it a general issue?

[2016-11-02 11:16] redox commented on #113
Should not need anything else. I need to reproduce the bug locally, maybe it's an issue with Safari.

[2016-11-02 11:36] Pab89 commented on #113
try to visit https://iclaimer.com/iframe/claim-form/da/flyhjaelp-dk on "iphone" and try the first autoselect box out then you can see the issue.

[2016-11-02 12:08] Pab89 commented on #113
The code used is

`let client = algoliasearch("xxxx", 'xxxxx');
            let index = client.initIndex(this.index);

            let searchOptions = { hitsPerPage: 6, filters: 'company_id = '+this.companyId };
            let iOS = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;
            if( iOS )
                searchOptions = { hitsPerPage: 6, filters: 'company_id = '+thi

[2016-11-02 12:19] redox commented on #113
Indeed, I reproduce the issue on iOS Safari; I'll need to check if we can fix that :/

[2016-11-02 12:32] Pab89 commented on #113
@redox Thanks for the fast reply, it's kinda a major issue for us right now, as 60% of our customers use mobile devices to browse our site, and will depend upon if we can continue to use the service. Any idea, when i might hear back from you, so that i know if we need to look into other solutions?

[2016-11-02 17:41] vvo commented on #113
Hey guys sorry but I did push an update to solve this, see https://github.com/algolia/autocomplete.js#options. And now this is broken somehow?

[2016-11-02 22:02] Pab89 commented on #113
Not sure what i am looking for?  Have you send the correct link ?

[2016-11-03 10:29] vvo commented on #113
@Pab89 Sorry, what I wanted to say is that autoselectOnBlur what released. If I understand well you know that, you tried to use it, but it's broken.

[2016-11-03 10:30] vvo commented on #113
@voidale You did the change to autoselectOnBlur, can you help @Pab89 here maybe? Thanks!

[2016-11-03 10:36] Pab89 commented on #113
@vvo Ye that is correct, i been using it to fix the problem on the iphone where nothing was selected when touched/tapped. Which autoSelectOnBlut fixed in the way that only the first hit can be selected. So still need to able to chose hits 2,3,4.. etc for it to work properly. Looking forward to a fix for this problem, as we else will need to look elsewhere for a solution that works on mobile to

[2016-11-07 08:11] Pab89 commented on #113
Hey, anything new here? We are in situation where we soon will need to know if we can get this script to work or need to look for another solution as this is the last fix we are waiting for before we can push our new form to production.

[2016-11-07 08:50] voidale commented on #113
@Pab89 Hey, I will take a look into this, will update soon.

[2016-11-07 09:38] Pab89 commented on #113
Cool thanks, i look forward for the push to be accepted. :)

[2016-11-07 13:25] #122 closed

[2016-11-07 13:26] vvo commented on #113
Fix gonna be released today

[2016-11-07 15:32] Pab89 commented on #113
Seems to me that the error still exists after the PR ? Just tryed the new 2.2.1 .min file. See https://iclaimer.com/iframe/claim-form/da/flyhjaelp-dk

[2016-11-07 15:32] Pab89 commented on #113
Im using safari IOS, iphone 6S

[2016-11-07 16:16] vvo commented on #113
Saw that, it's clearly not working. Basically autocomplete.js is failing on mobile, we need to investigate deeper. Can you open a new issue so we close this one? Thanks

[2016-11-07 16:16] #113 closed

[2016-11-07 16:43] Pab89 opened #127 "autoselectOnBlur not working on IOS"
When autoselectOnBlur is true in safari(IOS) its always the first result that is chosen no matter what result is clicked/touched. It's a major issue rendering the script useless on Iphones.

[2016-11-07 19:38] kaelig commented on #78
Any updates on this?

Maybe I can help. Let me know, and I'll ask my manager to allow me to spend a few days on making it accessible.

[2016-11-07 19:53] anselmh commented on #78
@kaelig I bet this would be appreciated, since this ticket has a label "help wanted" and "pull request welcomed" attached (though I think you want official confirmation before starting, since you likely are already aware of the labels).

[2016-11-07 21:08] voidale commented on #113
I tested it and it works on my side: https://www.flightscanner.org

[2016-11-08 06:46] Pab89 commented on #113
Thanks, any change you can send me a snippet of the code you use to implement it? Then i can try to find the difference between my and your code my self.

[2016-11-08 06:50] redox commented on #78
@kaelig help is definitely welcome if this is something you can provide :) I'll be happy to merge any PR 👍

[2016-11-08 09:47] voidale commented on #113
@Pab89 hey, here is what I have:
[code]

[2016-11-09 13:09] vvo commented on #127
Having a look right now

[2016-11-09 13:25] vvo commented on #127
Just tested it on the current master branch and on @voidale website (https://www.flightscanner.org/), it's working. I only used "autoselectOnBlur: true" option.

Here are the steps I did:
- Type "a", hit enter => first hit selected. Good.
- Type "a" select 3rd hit => 3rd hit selected. Good.

To go further in debugging this issue we would need you to create a reproducible simple test case in a [jsF

[2016-11-09 14:48] pixelastic commented on #78
@kaelig Help would be more than welcome. I started something on https://github.com/algolia/autocomplete.js/tree/fix/voice where I integrated most of the fixes mentionned in the linked blog post. I have not really tested it as I have no screen reader available, though. And the commit is a bit late in the history now, but it should give you a great starting point.

Let us know if you need anything e

[2016-11-09 17:10] Pab89 commented on #127
Thanks for the reply. I will try that and return if it helped. :)

[2016-11-09 17:56] chriscalip opened #128 "Some autocomplete source on autocomplete:selected doesnt have suggestion and dataset name"
Example code.
https://gist.github.com/chriscalip/bdaa601909aaef934fad6fd24b1463c8

`
  autocompleteChangeEvents.forEach(function(eventName) {
    autocompleteInstance.on("autocomplete:"+ eventName, function(event, suggestion, datasetName) {
      console.log([datasetName, suggestion]);
    });
  });
`
Places sources give datasetName and suggestion , but sources based on autocomplete.sources.hits w

[2016-11-09 17:57] kaelig commented on #78
@pixelastic That's awesome! If you are on Windows 10 or macOS you have access to a screen reader by default in the OS. If you're a Linux user it's a bit more complicated.

Let me ask my manager, I'll get back to you about this.

[2016-11-09 18:00] chriscalip commented on #119
@thanhmabo are you seeing on console.log variables suggestion and dataset .. being undefined ?

[2016-11-09 20:18] Pab89 commented on #127
Ye i can see that i works well on JSFiddle, but be something else in my code, thanks for the fast responses. Closing now, until i can find the exact error.

[2016-11-09 20:18] #127 closed

[2016-11-12 02:46] pixelastic commented on #78
I'm on Ubuntu :)

[2016-11-12 14:03] vvo commented on #119
The easiest here for now would be to use any vuejs-autocomplete component and then link it with https://github.com/algolia/algoliasearch-client-js

[2016-11-12 14:05] vvo commented on #128
Hi @chriscalip could you go a step further and create a live example? And explain here what's the behavior you are seeing and what is the behavior you are excepting. Thanks

[2016-11-13 20:48] chriscalip commented on #128
Live Example
https://jsfiddle.net/ok97nm9v/

Behaviour I am expecting on event 'autocomplete:selected' it is expect to see the following data : event object, suggestion object and autocomplete dataset name.

console.log([datasetName, suggestion]);

For places autocomplete source we get to see the dataset name: places and suggestion object
Array [ "places", Object ]
For autocomplete.sources.hits us

[2016-11-13 23:43] ianwalter commented on #119
I'm using it with Vue.js 2. You probably want to create the autocomplete on `mounted` not `created`.

[2016-11-14 07:54] redox commented on #128
Arg, I just understood what happened here @chriscalip.

Internally, the `autocomplete.js` library uses the `.{prefix}-suggestion` class names to locate the selected suggestion. It turns out that in your case, you had a nested `.ad-example-suggestion` because both your `suggestion` template and the library itself (for the `div` wrapper) use it.

Replacing:

[code]

by

[code]

Fixed the issue \o/

[2016-11-14 16:49] chriscalip commented on #128
@redox , and folks who might encounter this bug.
Workaround stated by redox does indeed fixed the issue.

Watchout for earlier versions. I believe workaround above is deployable on 0.21.8 autocomplete.js and above.

https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.js
https://cdn.jsdelivr.net/autocomplete.js/0.21.8/autocomplete.js

[2016-11-14 16:49] #128 closed

[2016-11-14 16:50] chriscalip commented on #128
Thanks algolia team. I appreciate it.

[2016-11-18 10:11] olanod opened #130 "Empty prefix still adds a dash"
https://github.com/algolia/autocomplete.js/blob/master/src/common/utils.js#L106
Adding a dash is hard-coded there. I have a special naming convention that I want to keep by not using a prefix, but when I set the prefix to an empty string it still adds the dash.

[2016-11-21 10:01] bobylito opened #131 "When passing something that is not an array, the library silently fails."
Bug report

**What is the current behavior?**

Currently, if the source function does not provide the expected type of suggestions to display, it fails without an error or a message.

You can see this behaviour [in this fiddle](https://jsfiddle.net/q9g3vhzL/).

**What is the expected behavior?**

I would expect to have an error or a message so that I can understand the current problem.

[2016-11-21 22:09] vvo commented on #130
This would have to be implemented as a new feature. For example adding a "noPrefix" option to cssClasses could do it.

Taking PRs for this!

[2016-11-22 06:20] olanod commented on #130
It doesn't have to be a new feature, looks more like a bug releasable with a patch version.
As a user of the API when I pass an empty string to the prefix configuration parameter I expect the trailing dash to be removed as well.

[2016-11-22 12:27] vvo commented on #130
Hi @olanod, unfortunately since this bug has been there for such a long time, fixing it in a patch version MIGHT lead to a different behavior for some of our users. i.e. Without knowing it, some people might be relying on that bug.

We have no way to find out, that's why I would rather add a new option for now.

[2016-12-07 16:00] Jerskouille commented on #117
The usual way of doing that is providing a noConflict() method which will restore the old value, right?

[2016-12-07 17:59] rayrutjes commented on #117
Yes that'd be really awesome, I like that pragmatic approach @Jerskouille

WDYT @vvo ? Any cons?

[2016-12-09 08:55] vvo commented on #117
No cons since it will be optin we will even be able to tune it if some behavior is not good. Anyone wanna do it?!

[2016-12-09 13:29] #117 closed

[2016-12-09 13:36] Jerskouille opened #133 "autocomplete.noConflict"
Follow-up of #117 .

We're not the only lib which wants to use `autocomplete` in the global scope.
We could provide a new `noConflict()` method as [jQuery's `$.noConflict()`](https://api.jquery.com/jquery.noconflict/) and [lodash's `_.noConflict()`](https://lodash.com/docs/#noConflict).

*Usage*
[code]

*Implementation*
Probably only necessary in the standalone build.
[code]

We might want to hand

[2016-12-09 13:36] Jerskouille commented on #133
cc @rayrutjes @vvo

[2016-12-09 13:53] rayrutjes commented on #133
For me that seems like a good approach!

[2016-12-09 13:58] vvo commented on #133
Seems nice! Just be careful about

[code]

When doing this and if window.autocomplete was not present at load, code like:

[code]

Will not return `true`

So only replace window.autocomplete in noconflict is something was really defined before. We actually had the issue at some point I think.

Other than that, nice!

[2016-12-09 14:11] Jerskouille commented on #133
@vvo updated first post's implem with your feedback taken into account. WDYT?

[2016-12-09 14:14] vvo commented on #133
All good!

[2016-12-09 14:29] redox commented on #133
gg @Jerskouille 👍

[2016-12-14 10:18] scerelli commented on #58
@angkywilliam Multicategory has been implemented implemented into `react-algoliasearch`

https://github.com/scerelli/react-algoliasearch/pull/5

[2016-12-14 15:54] #133 closed

[2016-12-14 16:37] rayrutjes commented on #117
Thank you guys for picking this up, this is going to make it so much easier to integrate the library ;)

[2016-12-14 16:55] vvo commented on #58
Nice!

[2016-12-14 16:55] #58 closed

[2016-12-19 10:32] Jerskouille commented on #81
Have we made any progress on this or can I have a go at it ? (A pain w/ Shopify too)

[2016-12-20 12:32] vvo commented on #81
@Jerskouille Can you summarize the current discussion and do a proposal then? I fail at seeing exactly what would be a good API entry given the discussions and use cases. Thx!

[2016-12-20 13:22] Jerskouille opened #135 "New parameter proposal: attachToBody"
Potential solution to #81 .

With a new parameter `attachToBody: <boolean>`, we could have the `.algolia-autocomplete > .aa-dropdown-menu` block appended to the body instead of wrapping the input.
It would of course default to `false` to avoid breaking current implementations.

This would allow one big thing: not breaking existing CSS on websites already built.

Then it would just be a matter of a

[2016-12-20 13:23] Jerskouille commented on #135
cc @vvo @rayrutjes .

[2016-12-20 16:21] redox commented on #135
Looks good to me 👍

[2016-12-20 22:56] brandonpassley opened #136 "Angular directive name conflicts with `autocomplete="off"`"
*Bug* 🐞

The Angular directive name conflicts with the HTML `autocomplete` attribute. When using  `autocomplete="off"` on an input on the same page as the Algolia autocomplete directive, the directive converts the input into an Algolia autocomplete input.

[2016-12-21 15:10] rayrutjes commented on #135
Awesome you take bring this up again @Jerskouille

Your approach seems OK, we have to make sure we can handle multiple autocompletes on the same page though.

I'm also wondering how hard it is to correctly absolutely position the element if it's attached to the document. Maybe this is something we can leave to the user to not interfer too much with the intention.

Ideally, the autocomplete could b

[2016-12-21 15:11] rayrutjes commented on #136
@Jerskouille can this be solved with the noConflict method recently introduced? #134

[2016-12-21 15:44] Jerskouille commented on #135
Well, we can probably provide a default placement, full input width, under the input, but letting the dev using this be able to override it easily, WDYT?

[2016-12-22 13:34] Jerskouille commented on #136
Unfortunately no. This was a bold move on our end to take an actual HTML attribute as a directive name. This is definitely a bug, but I think it is easily resolvable.
According to [MDN](https://developer.mozilla.org/en/docs/Web/HTML/Element/input#attr-autocomplete), `autocomplete` itself as an attribute does nothing. It expects a string value.

We're not expecting any value to be passed through th

[2016-12-23 15:10] vvo commented on #135
JavaScript's getBoundingClientRect gives you enough data to know where to place it, should be ok :)

[2016-12-23 15:12] vvo commented on #135
What do you think of:

`attachTo: HTMLElement`

to be used like this:

`attachTo: document.querySelector('body')`

This way you can just put it anywhere you want, even in another frame maybe!

[2016-12-23 15:13] vvo commented on #135
BTW @Jerskouille thanks a lot for taking ownership of this!!

[2016-12-23 15:59] Jerskouille commented on #135
While I think this is definitely a great suggestion, but wouldn't it be worth to wait a second pass for that.
Have people already asked for it?
The first limitation I see is with the positioning of the element. Even when attached to `body`, it is already a pain (`offset()` doesn't take into account the body margin and border, depending on whether or not the website is using `box-sizing: border-box

[2017-01-03 10:32] vvo commented on #135
I am fine if you think we should go first for the initial requirement and then move to appendTo if needed.

[2017-01-03 10:34] vvo commented on #135
Can you detail a bit more the struggle you had with offset()? Today browsers supports getBoundingClientRect() natively and its always precise on the dimensions and position of a DOM element.

[2017-01-06 15:32] #136 closed

[2017-01-06 16:38] Jerskouille commented on #62
Seems like it was merged and we can close this. :)

[2017-01-06 16:38] #62 closed

[2017-01-10 09:01] vvo commented on #135
released in 0.24.0, docs: https://github.com/algolia/autocomplete.js#options

[2017-01-12 10:09] rayrutjes opened #141 "Make sure that `debug mode` is enabled on mobile"
This feature request is related to a fix implemented in Magento here: https://github.com/algolia/algoliasearch-magento/issues/703

On mobile, we want to keep the autocomplete dropdown open even when we hide the keyboard.

We should probably detect if we are on mobile, and make sure we do not close the dropdown if on a mobile device.

Re-using the `debug` variable seems a little bi hacky though, I'

[2017-01-12 11:05] redox commented on #141
Arg, tricky :/

I'm not yet sure we want to do something automatically based on the user-agent.

For sure, we don't want to use `debug`; and I'm actually not yet sure we want to introduce a new "stayOpenWhenWeLoseFocusOrSo" option :/

On mobile; would "not" using autocomplete.js be simpler? Also, I'm thinking about our next instantsearch.js version that will let us build dropdown menus as well.

[2017-01-12 11:58] rayrutjes commented on #141
Well, I actually thought a lot about this and indeed, dropdowns make not much sense on mobile IMHO

We should enforce strong guidelines on this. I'm very tempted to close this right now. I'll just leave it open so that anyone can feel free to continue the discussion.

[2017-01-12 12:09] redox commented on #141
We're on the same page 👍

[2017-01-12 16:29] vvo commented on #141
Wait we did `openOnFocus` option already, wondering if this is what we want

[2017-01-13 15:54] ymschaap commented on #141
For me I found this to be an overly aggressive _unfocus_ listener that hides the autocomplete container too soon.

It is similar when focusing to the Browser's debug console, e.g. an issue:

[Typeahead.js](https://github.com/algolia/autocomplete.js/blob/master/src/autocomplete/typeahead.js) would need a rewrite.

Re: 'openOnFocus' already shows the container on input focus before any key strikes.

[2017-01-19 01:04] bmhardy opened #142 "postmessages are generated with invalid data"
**Do you want to request a *feature* or report a *bug*?**
This is a request for information

**What is the current behavior?**
We're using the Algolia autocomplete module with our React application. We noticed that this autocomplete library is using postmessage to send messages.

The messages that the library is sending appear to have data that throw an exception if JSON.parse is called on the mes

[2017-01-19 23:23] kaelig opened #144 "SyntaxError in IE11"
I haven't tested in IE10 but it might occur there as well.

### Steps to reproduce:

1. Focus an autocomplete field
2. Exit the field (click or tab away)
3. IE11 throws a SyntaxError

The issue comes from this code block: https://github.com/algolia/autocomplete.js/blob/4d5910a2a3f8677f1562754ed5cbe220abb0bea0/src/autocomplete/typeahead.js#L62

### Workaround

This is a temporary fix I've applied i

[2017-01-20 10:45] #142 closed

[2017-01-20 15:44] vvo commented on #144
I am not able to reproduce the issue with the repo examples, could you create a small jsFiddle or use the repo yarn dev command to try to reproduce it?

What is the thrown Syntax Error?

[2017-01-20 16:00] kaelig commented on #144
Unfortunately syntax error is... "SyntaxError".

It happens in playground.html, in the standalone version (I should have mentioned that, sorry). But it's also reproducible in a DocSearch implementation, e.g. on www.lightningdesignsystem.com

[2017-01-20 23:19] jasonbarry opened #147 "npm"
Why is this package not available on npm?

[2017-01-21 08:56] redox commented on #147
It is available @jasonbarry, check https://www.npmjs.com/package/autocomplete.js

[2017-01-21 08:56] #147 closed

[2017-01-23 14:27] vvo commented on #144
Ok I have a fix see #149

[2017-01-24 08:49] #144 closed

[2017-01-27 16:08] bobylito opened #150 "Update the user-agent when a request is made"
This is a missing element in the current implementation.

Currently the implementation does not update the user agent when a request is sent to Algolia. This prevent us (Algolia) from being able to monitor the usage of autocomplete.js.

Since autocomplete does not manipulate the client directly, this feature require the client to be able to specify the autocomplete user agent at query time. I crea

[2017-01-30 11:52] Spone opened #151 "How to display `nbHits` in header template"
Hello,

I'd like to display the `nbHits` (number of hits) in the header of my index.

Here it my current template:
[code]

It seems `data` only contains the label. How can I add the `nbHits` and other specific data (URL for the results page for instance)?

Thanks in advance

[2017-01-30 13:09] vvo commented on #151
See here on how to do it: https://codepen.io/vvo/pen/rjpzQo

Basically you need to provide a function to the header template then return a string of HTML that will be inlined.

By using a function you will access the original algoliaResponse as a second parameter.

[2017-01-30 13:09] #151 closed

[2017-01-30 13:12] #135 closed

[2017-02-01 16:36] chrismanderson opened #153 "How to clear out input properly?"
Loving this library; has been really useful so far!

Is there a way to clear out the input and close the dropdown at the same time? For example, the places.js library has a close button that clears the input, keeps the cursor focus, and closes the dropdown suggestion container if it is open. Looking for the same functionality here. Thanks!

[2017-02-01 16:39] chrismanderson commented on #153
Of course, immediately after posting this I noticed the information on accessing the API in the readme. Sorry for the noise!

[2017-02-01 16:39] #153 closed

[2017-02-01 17:37] afgarcia86 commented on #106
I was having a similar issue, I was able to pull off what I wanted like this...

[code]

[2017-02-02 06:57] playtowork commented on #118
I don't understand this solution. I am using autocomplete.js/examples/basic_angular.html as an example as well. I am also seeing the error "f.bind is not a function".

The proposed solution is to include jquery in the file. However, the example already includes jquery.. Should I include it again? Why am I still seeing "f.bind is not a function" upon using the provided example, if it already includ

[2017-02-02 07:00] playtowork opened #154 "f.bind is not a function"
I realize that there is already a closed issue with this same title. However, the solution there does not make sense to me. I am using the autocomplete.js/examples/basic_angular.html as an example as well. I am also seeing the error "f.bind is not a function".

The proposed solution is to include jquery in the file. However, the example already includes jquery... Should I include it again? Why am

[2017-02-02 07:13] playtowork commented on #154
By the way, I had the exact code of that example, except I also tried replacing with my ApplicationID and my SearchOnlyAPIKey. Could it be that the contacts index is not populated by default? But still, why would I see the "f.bind" error, if that were the case?

[2017-02-02 07:57] redox commented on #118
No you shouldn't include another version of jQuery @playtowork. Which version of jQuery & angular are you using? Maybe we could just try to update the `basic_angular.html` example with those versions and check if we reproduce the issue?

[2017-02-02 08:03] playtowork commented on #118
[code]
Thanks, @redox. I am including the above in my file. These are exactly the versions that are in the provided example file.

[2017-02-02 08:10] redox commented on #118
Oh wait, you need to include `jQuery` **before** `angular`; otherwise it won't find it and will fallback on the included jQuery-lite.

[2017-02-02 08:13] playtowork commented on #118
Awesome! Putting the jquery before angular worked. Might be worth updating the example file so others don't experience this issue.

[2017-02-02 08:32] playtowork commented on #154
My issue is addressed now at https://github.com/algolia/autocomplete.js/issues/118. Specifically, the example should pull in jquery BEFORE angular..

[2017-02-02 08:32] #154 closed

[2017-02-02 08:51] redox commented on #118
Oh wow good point, didn't catch that. On it!

[2017-02-03 17:28] chriscalip opened #155 "Allow single template for multiple datasets."
Feature Request : Allow single template for multiple datasets.

Current Behavior :
Currently for autocomplete using multiple datasets; API only provides template per dataset; the results per dataset are combined together and no control provided to let app do the following :

Limit all combined autocomplete result item count.
Ability to have another middle man logic function for custom filtering of

[2017-02-04 10:11] redox commented on #155
Hey @chriscalip,

yeah, that's indeed a limitation of our current out-of-the-box autocomplete sources/datasets.

What I'm used to do if I want to go that direction is using a single "dataset" but with a complex multi-queries Algolia request source. The custom source targets several indices and process the hits before forwarding them to the autocomplete.

Unfortunately, if you want to display heade

[2017-02-07 10:03] #78 closed

[2017-02-08 19:19] kaelig commented on #78
For those who haven't followed - autocomplete.js is now accessible to screen reader users!

[2017-02-08 20:29] pixelastic commented on #78
That is awesome. Thanks a lot for putting time and energy into it, this is an important step forward both for autocomplete.js, but also for our own education inside the team, and what we'll do on other projects.

[2017-02-15 00:43] chriscalip commented on #155
@redox
Interesting, what about for situations where client is different for each index? I am planning to combine places and our algolia index..

[2017-02-15 07:42] redox commented on #155
In those cases, we generally go for 2 "independent" sources/datasets :/

For sure, it would be cool to better handle that in the future. We're working on making something out of our instantsearch.js experience but I don't have any ETA for such "advanced" use-case handling.

[2017-02-17 22:57] jlaustill opened #158 "enter key binding/event when nothing selected?"
I'm pretty sure this is a feature request, unless I'm searching and not finding the solution.

Currently, when you type in text(on Magento, if this is in the wrong place I will gladly repost it elsewhere), and then hit enter without selecting anything it is not calling the autocomplete:selected event, which I think makes sense.  But I don't see an event that I can tap into.  The default behavior s

[2017-02-19 09:47] redox commented on #158
Hi @jlaustill,

thank you for sharing your use-case.

Indeed, if you don't select any suggestion and press enter; the implemented behaviour is to go to the first result (provided by the `autoselect` [option](https://github.com/algolia/autocomplete.js#options)). In your casem because magento displays a rich menu with different sources & advanced layout; this can be confusing.

And indeed, the best

[2017-02-22 01:56] #155 closed

[2017-02-22 01:57] chriscalip commented on #155
Developer Note:
a.) Currently feature not in play.
b.) ETA unknown

[2017-02-22 21:01] ericbuth opened #160 "getComputedStyle is null within an iframe in Firefox"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Firefox has a known issue that within an iframe, `getComputedStyle()` returns null.
Please see: https://bugzilla.mozilla.org/show_bug.cgi?id=548397
autocomplete.js is indeed calling `getComputedStyle()` and not working in that arrangement.

**If the current behavior is a bug, please provide all the ste

[2017-02-23 18:17] vvo commented on #160
Internally we use zepto and .show() .hide() methods, could you create a jsFiddle demonstrating the bug so we can work iteratively on this?

Thanks!

[2017-02-23 18:43] negherbon opened #162 "#351: prevents input blur due to clicks within dropdown menu"
**Do you want to request a *feature* or report a *bug*?**
I think it's a bug

**What is the current behavior?**
When i add an template html for handle with quick add, my template has a couple of inputs and the problem is that input is not clickable.

**If the current behavior is a bug, please provide all the steps to reproduce and a minimal
[JSFiddle](https://jsfiddle.net/) example or a repository

[2017-02-23 18:49] ericbuth commented on #160
https://jsfiddle.net/5h7roa91/1/

Version and OS shouldn't matter, but I'm using Firefox 47.0.1 on Mac OSX.

[2017-02-23 19:40] negherbon commented on #162
### Removing this line works.

<img width="679" alt="captura de tela 2017-02-23 as 16 40 19" src="https://cloud.githubusercontent.com/assets/5859119/23275857/d3397424-f9e6-11e6-90cd-577b8de0e18f.png">

[2017-02-23 20:45] vvo commented on #160
Updated the example to inject non minified autocomplete.js: https://jsfiddle.net/5h7roa91/2/

[2017-02-23 20:48] vvo commented on #160
This is a not so easy issue because those calls to getComputedStyle are done by zepto internally so I'd rather see the bug fixed on Firefox and use any workaround on the Firefox website for now about the way to hide the iFrame.

We cannot defer the initialisation of the autocomplete.js library, otherwise we would have to detect when the iframe is no more hidden etc.. Not a good solution.

We could

[2017-02-23 21:00] vvo commented on #162
I am sure this line has a meaning/reason but of course cannot remember it.

On a side note, what do you want to build ultimately?

[2017-02-23 21:04] vvo commented on #162
Found many pointers:
- https://github.com/twitter/typeahead.js/pull/351 original issue, did you notice the current issue number for autocomplete.js is 351 and the original comment in code is for 351 of typeaheadjs? I am blown away by this coincidence.
- fixing commit: https://github.com/jharding/typeahead.js/commit/1db14147547469a5647ab90d64cf4703f8e98a33
- todays code of typeahead.js: https://git

[2017-02-23 22:44] negherbon commented on #162
@vvo i have the following need:

<img width="492" alt="captura de tela 2017-02-23 as 19 36 42" src="https://cloud.githubusercontent.com/assets/5859119/23282359/90872d2e-f9ff-11e6-9dd4-3187b92839ca.png">

And when we click in `Add more` the `quickaddtemplate` will appear:

<img width="512" alt="captura de tela 2017-02-23 as 19 38 24" src="https://cloud.githubusercontent.com/assets/5859119/23282379/

[2017-02-23 23:00] ericbuth commented on #160
Agreed, this is a tricky one. It should ideally be fixed within Firefox, but it's been an open bug since 2010-02-24. In other words, it's not looking like anytime soon.

We ended up having to make a workaround on our side. It seems to be working!

[2017-02-23 23:01] negherbon commented on #162
@vvo works the "clone" and hide `dropdown-menu` solution, thanks for your time and understanding 🤘

[2017-02-23 23:02] #162 closed

[2017-02-24 00:25] vvo commented on #162
Perfect, sorry I did not get exactly what you changed, can you detail a bit more what you did? For future references.

[2017-02-24 00:45] negherbon commented on #162
Sure, this task describe exactly what i did:

- Add an click event listener do `Add more` template header
- Make a ajax call to get the string of quick add template
- Parser this string quick add template with DomParser API
- Called autocomplete.close() method to add `display: none` in dropdown-menu
- Append the quick add template as a child of autocomplete wrapper and works ;)

Now i'm trying mak

[2017-02-27 13:50] vvo commented on #160
Purfect, way to go! Thanks

[2017-02-27 13:50] #160 closed

[2017-02-27 16:56] bobylito commented on #150
Done :)

[2017-02-27 16:56] #150 closed

[2017-02-28 14:58] vvo commented on #141
autocomplete.js has no means of knowing whether or not it's instantiated on a mobile or not so it's up to the user to pass this option. What we could do is have an alias like "hideOnFocus" which would be true by default and document that most probably on mobile you would want this to be false.

[2017-03-06 10:20] fede91it opened #166 "Cannot set property 'additionalUA' of undefined"
Hello,

Switching to version 0.26.0 from Chrome Dev Tools I get this error:

[code]

Using 0.25.0 all it works fine.

[2017-03-06 10:23] fede91it commented on #166
I suspect the cause is https://github.com/algolia/autocomplete.js/commit/622aec5

[2017-03-06 10:37] bobylito commented on #166
Thanks for reporting the issue. Having a look right now!

[2017-03-06 11:03] bobylito commented on #166
@fede91it the quick fix would be to pass an empty object as params.

[2017-03-06 11:25] fede91it commented on #166
Thank you

[2017-03-06 12:32] #166 closed

[2017-03-06 16:50] SokratisVidros opened #168 "Opt-in debounced behavior on the data source."
**Feature request**

Currently autocomplete.js does not support debounced data sources. It would be nice to provide an opt-in debounced source functionality that accepts the debounce delay as an option.

[2017-03-06 16:55] SokratisVidros opened #169 "Optimized key events handling for arrow up/down keys."
**Bug**

**What is the current behavior?**

Currently `autocomplete.js` triggers the data source function when input is not empty and up/down arrow keys are pressed. A quick demo of the issue can be found at http://jsbin.com/poyofu/edit?html,js,console,output

**What is the expected behavior?**

Unless the input changes, arrow keys should not trigger redundant requests.

[2017-03-06 17:00] vvo commented on #169
It's a valid point, taking PR solving this if you are up to!

[2017-03-07 09:23] SokratisVidros commented on #169
Sure thing!

Regards,

---
*Sokratis Vidros*
Lead Software Engineer @ Workable <http://workable.com/>

2017-03-06 19:00 GMT+02:00 Vincent Voyer <notifications@github.com>:

[2017-03-08 21:59] toddlevy opened #171 "footerTemplate arguments in wrong order in readme file."
In the docs for the "Footer" within Datasets, the example is as follows...

`function footerTemplate({ query, isEmpty }, [forwarded args])`

However, in my application, the isEmpty object gets passed first, and query second.

Not a huge deal, but figured it was worth pointing out / verifying.

[2017-03-09 11:14] vvo commented on #171
Just did a check and I do get {query, isEmpty} object as first argument when passing a footer template. If you can provide a working jsFiddle demonstrating the issue, open again, thanks

[2017-03-09 11:14] #171 closed

[2017-03-13 17:50] negherbon opened #172 "Help to identify if is a new feature"
**Do you want to request a *feature* or report a *bug*?**
Feature?

Why?
My autocomplete implementation extends `autocomplete.js`, basically an wrapper around this lib and in my scenario i have a pagination inside the autocomplete-dropdown:

<img width="310" alt="captura de tela 2017-03-13 as 14 43 34" src="https://cloud.githubusercontent.com/assets/5859119/23867702/8279e7ee-07fb-11e7-9f21-9767195

[2017-03-13 18:02] bobylito commented on #172
Hey @negherbon Thanks for opening the issue. It seems to be a new feature. I thinks it's quite close to an infinite hits. I'm not sure it is possible to do with the current architecture 🤔

[2017-03-13 18:14] negherbon commented on #172
@bobylito I found a way in my wrapper here. My wrapper is developed with ES6 and i save the callback function in a variable and when the user click in `show more` button i execute the callback saved in a variable and pass the current data and the new data from `pageSize=2`. It is a specific implementation but works for now. Thanks.

[2017-03-13 18:14] #172 closed

[2017-03-14 12:16] negherbon opened #174 "Auto filled query when field come with a default value"
**Do you want to request a *feature* or report a *bug*?**
Feature?

**Summary**
In my scenario i have a field that may or may not be filled, e.g:

<img width="228" alt="captura de tela 2017-03-14 as 09 08 26" src="https://cloud.githubusercontent.com/assets/5859119/23899962/1afb0f58-0896-11e7-82ab-91fc2e910046.png">

The problem is when i click in the field with the default value is make a full req

[2017-03-14 16:59] negherbon commented on #174
I found a solution, the `search.autocomplete.setVal(inputValue);` works.

[2017-03-14 16:59] #174 closed

[2017-03-18 15:24] toddlevy commented on #171
Here's a fiddle...

https://jsfiddle.net/toddlevy/1tv8kn7w/3/

As you can see, I'm ordering the arguments in the way they are captured in the readme... with query, followed by isEmpty.

And if you look in the console, you'll see the isEmpty is actually first, while query is second.

[2017-03-18 22:41] bridgeport opened #176 "Is an Algolia account and client ID/key required to use this?"
Hi. I feel silly asking this, but is an algolia account with client ID/key required to use this script?

The read me states the following:

And it makes it seem like algolia's search service is an optional add-on, but all the examples and docs appear to reference the need of a client ID/key?

Is it possible to use this script separate from algolia's servers, such as pulling the results from anothe

[2017-03-19 17:58] redox commented on #171
Hey @toddlevy,

I think you misunderstood the syntax used here: `function footerTemplate({ query, isEmpty }, [forwarded args])` means the function will take 1 or several arguments, the 1st argument being an object `{query: '....', isEmpty: '.....'}` and the others being the one forwarded by the dataset.

You can read the code here: https://github.com/algolia/autocomplete.js/blob/master/src/autocom

[2017-03-19 17:59] redox commented on #176
This library/API design has indeed be driven having the Algolia Search API in mind.

It's a fork from http://github.com/twitter/typeahead.js v0.10.5 -> therefore, you should probably use the other project for your needs.

[2017-03-19 17:59] #176 closed

[2017-03-23 22:28] vvo commented on #171
Just fixed your example @toddlevy: https://jsfiddle.net/vvoyer/mrL6wa8v/1/

[2017-04-09 00:14] toddlevy commented on #171
Thank you. This is working like a champ.

[2017-04-11 19:23] brasseale opened #178 "Angularjs app using autocomplete.angular.js and reading from multiple Algolia sources not working"
I'm trying to implement autocomplete functionality using AngularJS and Algolia's Autocomplete.js with two sources (indexes) from Algolia.

The second source autocomplete works fine, but the address autocomplete only works for the first letter/number typed. As you type the second character, the address listings disappear. If I swap the two sources, the address works fine, and the zipcode only works

[2017-04-24 07:47] vvo commented on #178
Hi thanks for the issue. Sorry for late response.

Could you provide us a minimal reproduction live example using plunkr or jsfiddle? That way it will be a lot easier to help you and debug this issue.

Thanks a lot.

[2017-04-28 07:05] gbelorgey opened #180 "Prevent dropDown from hiding when hiding the virtual keyboard"
**bug**

**What is the current behavior?**

When using autocomplete on a mobile device, be it iOS or Android :
- Type in some search terms
- The dropDown results appear
- Press "Ok" (iOS) to hide the virtual keyboard
=> The dropDown hides

**What is the expected behavior?**
The dropDown should stay open when closing the virtual keyboard, as the user most probably did that to get a better view at t

[2017-04-28 07:14] Haroenv commented on #180
This is an annoying issue to solve, but there's a workaround: `debug: true` in the options will not blur the input after closing the keyboard.

[2017-04-28 07:17] Haroenv commented on #130
I think this is closed with #156

[2017-04-28 07:17] #130 closed

[2017-05-03 19:53] Giovanni-Mattucci commented on #112
I think you configure this within the Algolia Search API using `hitsPerPage`, notice it passed as an option in their standalone example `source: autocomplete.sources.hits(index, { hitsPerPage: 5 })`:
[code]
If you want to be more explicit with your search settings, you can utilize their JS API within source:
[code]
Was this what you are looking for?

[2017-05-03 20:43] Giovanni-Mattucci commented on #102
hey @akshayKMR how did you integrate hogan.js with the autocomplete templates?

[2017-05-04 07:29] redox commented on #112
@Giovanni-Mattucci's answer is perfect 💯   Closing the issue for now, please re-open if something is missing 👍

[2017-05-04 07:29] #112 closed

[2017-05-10 14:55] rayrutjes opened #181 "Bump default z-index value or allow overriding it"
**Feature request**

It would be nice to either bump the default z-index to something way bigger than 100 or leave the user a way to override the default value.

**Current behavior?**
The default z-index of the `.algolia-autocomplete` is of `100`. In some cases this is not enough, and overriding it is not easy giving the z-index is added directly to the style attribute of the root wrapper.
I'm usi

[2017-05-11 10:26] rayrutjes commented on #181
I'll try to implement the override approach.

[2017-05-11 11:45] rayrutjes commented on #181
This can be resolved by overriding z-index on .algolia-autocomplete:

[code]

[2017-05-11 11:45] #181 closed

[2017-06-01 12:38] vvo commented on #180
@gbelorgey Hi thanks for the issue, I am reopening it since you sent us a support message on support@algolia.com (thanks).

Could you provide us a live url for us to see the problem and debug it ?

We recently did some commits to try to solve that. Are you using the latest version of autocomplete.js?

Thanks.

[2017-06-03 16:07] osielcc commented on #153
what is the solution?

[2017-06-03 16:15] osielcc commented on #153
this is the solution
$('.search-input').autocomplete('close');
$('.search-input').autocomplete('val', myVal);

[2017-06-06 09:40] vvo commented on #153
Thanks @osielcc for getting back here with the solution!

[2017-06-07 15:15] gbelorgey commented on #180
@vvo
Thanks for reopening the issue.
I'm going to update autocomplete.js and mail you an access to our staging environment for debugging purposes.

[2017-06-13 08:20] iam4x commented on #180
Hello @gbelorgey,

I've looked into your issue on your staging env, when you say you press "Ok" button on the keyboard, is it the "Search" button on the bottom right side of the keyboard?

If yes, it looks like more it comes from your DOM because your autocomplete input is wrapped into a `<form>` element with an `action=`. When you press "Search" it triggers a `submit` event which will POST the fo

[2017-06-13 15:10] intemperie opened #183 "How to prevent to update the input value on autocomplete:selected"
Hello, guys!

I was looking at #74, and I was wondering if there was a way to prevent this behavior on `autocomplete:selected`. I don't want the value of my input to change, as I'm already using `location.href = suggestion.url;`, so I can go to the URL by hitting <kbd>enter</kbd>. Would it be possible to do that in any way?

Thanks!!

[2017-06-13 15:14] redox commented on #183
Did you setup a `displayKey` or have a `value` attribute in your records? I think that's what is used to change the input. If not set, it might do what you need.

[2017-06-13 15:18] intemperie commented on #183
Ah, yes! It was set to `title`. Removing it fixed the issue. Thanks a lot!! <3

[2017-06-13 15:18] #183 closed

[2017-06-13 15:23] redox commented on #183
Awesome :) 👍

[2017-06-16 02:49] rohanpai commented on #158
@redox is there an update on this? Would like this as well. :)

[2017-06-16 07:57] vvo commented on #158
@rohanpai There's nothing like that today, maybe @JanPetr you can tell us more about how the magento store decides to go to an instantsearch page or a category? If you already did the small code to do that we could reuse it somehow and bundle it here.

[2017-06-16 12:52] JanPetr commented on #158
Hello @rohanpai,

the Magento's autocomplete doesn't use `autoselect` feature and I just tried and when I typed any query and hit Enter each time I got to instant search page. Could you share with me a website or a small jsFiddle where I could reproduce and investigate the issue? Thanks!

[2017-06-19 15:29] dustincoates opened #184 "Make debug directions clearer"
This trips me up every time, but I'm not sure how to phrase it to fix it:

I always plus `debug: true` and spend a good amount of time figuring out what's broken before remembering it needs to be a part of the second argument rather than the third.

Is there a good way to specify this in the readme?

[2017-06-20 13:47] vvo commented on #184
Can you detail which code sample you are using with debug: true that is not working?

[2017-06-21 11:42] dustincoates commented on #184
@vvo Sure thing. See below. I know _why_ it's not working now but it always takes me a while to get to that point because it's not incredibly clear in the documentation (though, I'm not sure right now a better way to phrase it).

[code]

[2017-06-22 05:50] gbelorgey commented on #180
Hello @iam4x

Sorry, somehow I missed the notification about your answer.

Here is a screenshot of the issue :
<img width="432" alt="capture d ecran 2017-06-22 a 07 46 22" src="https://user-images.githubusercontent.com/2151352/27419044-0c6036e4-571f-11e7-850a-30d82a4d96bb.png">

On this screenshot, "Rechercher" (sorry, it's in french) will submit the form and trigger a real product search. This is

[2017-06-22 08:30] vvo opened #185 "Main empty template should be in display:none as long as some sources have results"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
The main empty template: `autocomplete('dsadsa', {templates: empty: 'no results'}))` is always displayed even when there are some results. Usually this is not an issue but if you style it like this:

[code]

Then it will break your design.

**If the current behavior is a bug, please provide all the ste

[2017-06-22 08:59] redox commented on #185
A quick fix could be to use `autocomplete('dsadsa', {templates: empty: '<div>no results</div>'}))` and having the following CSS:

[code]

[2017-06-22 09:01] vvo commented on #185
Yes, I am also creating a proper fix and will release it

[2017-06-22 09:25] #185 closed

[2017-06-26 07:53] vvo commented on #184
Ok yes you are trying to use the debug parameter as a source parameter, if you have any idea on how to make this clearer we could do it in the README.

We do not enforce and errors nicely about option schemas yet (typing options basically). There's no magic here for you sadly but seeing that it does not work and moving that option (same applies for hint).

[2017-06-26 08:57] dustincoates commented on #184
@vvo Indeed--the README is good enough. The _issue_ I have is I'm not entirely clear how that would be phrased. What would you call that type of option? Maybe that would help.

[2017-06-26 09:12] vvo commented on #184
Something like

## API

### globalOptions{} - autocomplete(container, **globalOptions**, datasets);

- debug..

### datasets[] - autocomplete(container, globalOptions, **datasets**)

?

[2017-06-26 13:03] vvo commented on #184
yes go ahead and bootstrap it, thanks!

[2017-06-27 08:52] Haroenv commented on #180
In that case, I think we'll need to add a listener to the form, and on "submit", preventDefault() as well as keep the input focused

[2017-06-27 10:14] vvo commented on #180
@Haroenv That's different I think, "done" does not submits the form, it blurs the input I think and thus hides autocomplete menu. What should we do in this case? Maybe provide an option to avoid doing so?

[2017-06-30 01:24] RinkAttendant6 opened #187 "Pre-source/post-source (searching) event"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
It would be nice to have an event that is triggered when a user is searching (both a start and end event). `autocomplete:updated` is as close as I can get to an end event.

This would be useful for showing and hiding a loading indicator, for example.

**What is the expected behavior?**
The start ev

[2017-06-30 16:54] Jerskouille opened #188 "Bug with caching"
https://github.com/algolia/autocomplete.js/commit/5c94325757e1094c13548315d41b89e00aba90b2 is bugged.
Write "a", then delete, then rewrite "a" in the playground : the footer is now undefined.
We're wrapping something in an array that we shouldn't.

[2017-07-04 10:02] vvo commented on #188
@SokratisVidros Can you maybe have a look?

To reproduce it, try to read the results in the footer template when doing rapidly:
- in searchbox, type 'a', console.log(footer results)
- in searchbox, delete content
- in searchbox, type 'a', console.log(footer results)

You'll see that the content is wrapped inside an array.

[2017-07-04 10:22] vvo commented on #187
@RinkAttendant6 that's a good idea, do you want to have a try at it? We have an easy way to run the playground: https://github.com/algolia/autocomplete.js#development

Then this file should be the place to add events: https://github.com/algolia/autocomplete.js/blob/master/src/autocomplete/typeahead.js#L183

[2017-07-04 10:27] SokratisVidros commented on #188
@vvo I will try to have a look asap. Thanks for reporting.

[2017-07-05 10:55] klihelp opened #189 "Update to Angular 4"
~

[2017-07-05 15:37] vvo commented on #189
Hi @klihelp can you describe a bit more your issue? Also do you want to have a try?

[2017-07-05 23:56] Daymannovaes commented on #106
I figured that out, but only using jquery directly. Because none of the options above worked for me. Turns out, that this library uses an interval variable to keep the value. So even if you set the input directly with jquery, with `$('#selector').val('some-value')` it'll return back on blur.

I discovered that this internal variable was set in the `onInput` event. So what I did was only trigger th

[2017-07-08 05:44] RinkAttendant6 commented on #187
I'm not really sure how I would do it, especially because the behaviour can involve multiple datasets.
I noticed that the `onDatasetRendered` function is bound using `onAsync` but that takes place for each dataset. I was thinking of something like `await Promise.all()` but not really sure how to fit it into the existing codebase (or if it's even the correct way to go about implementing it).

Also

[2017-07-10 11:12] vvo commented on #187
Yes the library usually throw events that are then read by the event bus and the callback is called.

Indeed if it involves multiple dataset, one could expect to be able to register for one or all the datasets at once. This can be handled with Promise.all or just a simple module that you build that knows how many callbacks should be called and emit an event when done.

Also I forgot to ask, what's

[2017-07-10 17:42] RinkAttendant6 commented on #187
The main use case for this feature, as described in the issue, is to show a loading indicator.
It would also be useful for gathering metrics on how long it takes to search something.

[2017-07-13 12:58] jeluard opened #190 "Prevent input syle modification"
Input targeted by `autocomplete` has its style directly manipulated by the library.
Is there a way to prevent this behavior?

[2017-07-18 08:51] Haroenv commented on #180
Hey @gbelorgey, you can already prevent that behaviour with `debug: true` in the options as shown in line 3 of this codepen:

[code]

https://codepen.io/team/algolia/pen/dREJNe?editors=1010

[2017-07-18 08:51] #180 closed

[2017-07-19 15:26] rickpelletier commented on #178
I had this same problem using 2 custom source functions, the second of which resulted in calling the cb with an empty array.  When that happened no results from either source are displayed.  If the first source calls cb with an empty array results are displayed from the second source.

I put a check in my source functions to check if the results length == 0, and if so, call the callback with null

[2017-07-20 14:41] vvo commented on #190
Yes use:

[code]

This will not wrap the input with anything and will only append the dropdown I believe, let me know

[2017-07-20 14:42] vvo commented on #188
cc @SokratisVidros could you gelp here? Thanks! :)

[2017-07-20 18:20] rickpelletier commented on #178
I think I have a plunkr set up to demonstrate this bug:

http://plnkr.co/edit/dQ5VzOX4EwiSJQWOCUoD?p=preview

[2017-07-20 20:14] SokratisVidros commented on #188
Please have a look at #192

[2017-07-21 04:18] a-covar commented on #106
I would be nice if the directive would return the `element` in the $emit function, so you can look which input executed the search request.

We have a use case where we have 2 inputs with the `autocomplete` directive, but each one of them has a different business logic to it. The `$scope.$on('autocomplete:selected', function(event, suggestion, dataset) ` does not allow for dynamic selectors.

It w

[2017-07-21 09:59] jeluard commented on #190
Works fine thanks!

[2017-07-21 09:59] #190 closed

[2017-07-24 08:07] vvo commented on #106
@a-covar We accept PR fixing this, that's a nice idea and should be backward compatible.

Quick not, isn't `this` in the event already bound to the correct element?

[2017-07-24 08:55] vvo commented on #178
@SokratisVidros Is that something plausible?

[2017-07-26 12:51] vvo commented on #36
For anyone wondering, this is now available via searchForFacetValues:
- https://blog.algolia.com/search-for-facet-values/
- https://www.algolia.com/doc/guides/searching/faceting/#search-for-facet-values

(Adding this since I had feedbacks from people ending up here and being disappointed).

[2017-07-28 18:16] timkelty opened #194 "Default close/clear button"
**Do you want to request a *feature* or report a *bug*?**
*feature*

Both places.js and instantsearch's searchBox widget both provide an "closing x" element to clear the search.

I realize this is pretty easy to do yourself, but given that it is a pretty established paradigm for an autocomplete input, and that those other Algolia libs have them, it would be a nice default to add.

[2017-07-28 21:14] SokratisVidros commented on #178
Cached results are just an intermediate step in the pipeline. After fixing #188, `handleSuggestions` is being invoked with the exact same arguments as in the non-cached case.

[2017-07-31 13:34] #188 closed

[2017-07-31 13:42] vvo commented on #194
Good idea, are you up to trying to add it in the library? Thanks

[2017-07-31 13:51] timkelty commented on #194
Time permitting, I'll add this to my list!

[2017-07-31 14:08] vvo commented on #178
Just did a new release (0.28.3), can you try again?

https://cdn.jsdelivr.net/npm/autocomplete.js@0.28.3/dist/

[2017-07-31 14:08] vvo commented on #178
Just did a new release (0.28.3), can you try again?

https://cdn.jsdelivr.net/npm/autocomplete.js@0.28.3/dist/

[2017-08-02 00:25] rickpelletier commented on #178
@vvo I updated my plunkr example to use the 0.28.3 version but it still seems broken if the 2nd source returns an empty array: http://plnkr.co/edit/JOIz0OEgIyQLDHM3zgiA?p=preview

[2017-08-18 20:39] jdeg opened #196 "onBlur function clears the input"
When the value of the autocomplete input field is updated via Javascript instead of typing the value directly, the **onBlur** function clears the text of the input. Commenting the line 2409 of this file https://github.com/algolia/autocomplete.js/blob/master/dist/autocomplete.js#L2409 seems to solve the problem.

Is this a normal behavior or there is some setting I have to update in order to avoid

[2017-08-19 08:16] redox commented on #196
How are you updating the field via JavaScript? You need to use autocomplete.js's `setVal` (or `.autocomplete('val', myVal)` if jQuery) function.

Let me know!

[2017-08-21 20:57] jdeg commented on #196
Thanks for your response. I was assigning the input value using the JQuery function **val()**, but after see your comment I updated the functionality to use **setVal** and it fixed the issue.

[2017-08-21 20:57] #196 closed

[2017-08-21 21:10] redox commented on #196
Good to know!

[2017-09-04 14:45] bnymn commented on #62
Hi @kylegibson,

I am using algolia search with Magento 2. I think I should listen `autocomplete:selected` event, and add `preventDefault()`. Here is how I try:

[code]

When I select an option with autocomplete, I can see `SELECTED xxx` in my console, but the dropdown menu is still closing. Am I doing something wrong?

[2017-09-19 12:29] tgensol commented on #189
Same here, do you think it is possible to create an autocomplete.js lib for Angularjs 4 ? could be useful for Ionic 3 for example.

Thanks !

[2017-09-19 12:58] vvo commented on #189
@tgensol is there any well known Angular 4 autocomplete library that you could plug to Algolia in the meantime?

[2017-09-19 13:01] tgensol commented on #189
@vvo I never searched for it before, I only wanted to try Algolia on my Ionic 3 App, and the autocomplete is only a cool feature :) !

[2017-09-20 07:42] vvo commented on #189
@tgensol We will be working on more Angular integration by the end of the year, could you send an email to support@algolia.com so we can get your feedback?

[2017-09-20 07:43] vvo commented on #189
For now your best bet would be to use:
- https://community.algolia.com/algoliasearch-helper-js/
- https://material.angular.io/components/autocomplete/overview or any other angular 4 autocompletion system allowing to feed it with remote data

[2017-09-20 20:58] drewtunney commented on #178
@rickpelletier did you ever get this resolved? I'm seeing similar behavior

[2017-09-20 22:10] rickpelletier commented on #178
@drewtunney No, I had to move onto another project, so we're still using my fork for now (with the change from #191).  Its working fine for our specific use at the moment, use at your own risk

[2017-10-08 14:42] rootsongjc opened #198 "How to get the result value without highlight tag"
I use the code below to get the highlight result value
[code]
Now I want to use the hype link but the text with html highlight tag `<em>` and `</em>` attached, such as
[code]
How can I get the value not highlighted?

[2017-10-08 18:03] vvo commented on #198
Just use suggestion.uri should work?

[2017-10-09 02:50] rootsongjc commented on #198
@vvo It works! Thank you!

[2017-10-09 02:50] #198 closed

[2017-11-15 18:55] ItaloBC opened #200 "Allow minLength override from Index source"
Feature? Yes. When initializing multiple indexes as sources, sometimes you want to return `Index1` results when the input length reaches certain threshold, like `10` characters. Meanwhile, `Index2` and  `Index3` will return results at the default `minLength` option, which is `3`.

A non-intrusive way to do this would be to add the `minLenght` option to index source options, so it can override the

[2017-11-16 12:37] vvo commented on #200
Hi @ItaloBC this should be doable yes, minLength today is handled for the dropdown as a whole here: https://github.com/algolia/autocomplete.js/blob/87ab35a2f94a6887edca43246c92f863a2e261e4/src/autocomplete/typeahead.js

The changes needed to make it a per-source parameter are unknown for now, if you want to give it at try go ahead!

[2017-11-17 13:27] dhavalgshah commented on #77
Hi @redox any update on this issue?

This is really a huge problem for the responsive web.

Either we should write fluid CSS and use class names to determine the view or have all the internal CSS styles that are being calculated exposed in options. Either of these approaches doesn't seem to be incompatible in either of the flavors you're offering.

Aside from one example mentioned by @iafan here a

[2017-11-17 13:58] vvo commented on #77
Hey hi @dhavalgshah, thanks for the extensive feedback it's important for us. Since this issue was pretty old it's not easy to immediately get what we should do here.

Do you think you could summarise the current problem in a concrete way and propose a few solutions and implementations ideas as to fix this problem? Thanks.

[2017-12-01 09:57] intemperie opened #202 "How to add a custom, navigable item to the bottom of an autocomplete?"
Hello folks,

We're trying to improve [our contact form at Sketch](https://sketchapp.com/support/contact/), so we have a first step with a search input, like this:

<img width="764" alt="screen shot 2017-12-01 at 10 51 36" src="https://user-images.githubusercontent.com/814443/33477451-0467f76a-d686-11e7-87ab-f39c8f55fd15.png">

I introduced the "None of the above" (which displays the form) as a `f

[2017-12-01 10:07] iam4x commented on #202
Hello @intemperie

You can [customize widgets](https://community.algolia.com/instantsearch.js/v2/guides/customization.html) by using the [connectors API](https://community.algolia.com/instantsearch.js/v2/connectors.html) in order to display a item at the end of your results.

For your usage you will need to use [connectHits](https://community.algolia.com/instantsearch.js/v2/connectors/connectHits.

[2017-12-01 14:23] intemperie commented on #202
Will take a look. Thanks! :)

[2017-12-02 15:16] Haroenv commented on #202
Is this done with `autocomplete.js` or Instantsearch? cc @iam4x

With autocomplete, what I think could be done, is creating a custom [dataset](https://github.com/algolia/autocomplete.js#datasets) which wraps the algolia result, and adds a last item which is recognisable to the hits. you can then listen to the `on('autocomplete:selected'` event

[2017-12-04 09:25] intemperie commented on #202
Ah, yes. It’s autocomplete.js. I'll try that, thanks!

[2017-12-04 14:00] intemperie commented on #202
Worked great. Thanks again!

[2017-12-04 14:00] #202 closed

[2017-12-04 17:46] Haroenv commented on #202
For future reference, could you share a fiddle with how you wrapped the source? @intemperie

[2017-12-22 04:35] ezhilarasiKesavan commented on #172
@negherbon , I also stuck in to same scenario It could be great if you share your solution.

[2017-12-29 11:37] rayrutjes opened #203 "How to catch an Error?"
I would like to be able to detect when an error occurs in order to gracefully handle it.
I didn't find anything about error handling in the readme.

[2017-12-29 11:56] Haroenv commented on #203
on the hits source, it seems like it simply throws the error done by Algolia, so it should work in a try/catch block?

https://github.com/algolia/autocomplete.js/blob/30df97a893230e5306f389349cad9ea245f6968e/src/sources/hits.js#L18

https://github.com/algolia/autocomplete.js/blob/30df97a893230e5306f389349cad9ea245f6968e/src/common/utils.js#L53-L55

[2018-01-01 07:21] mtilokani opened #204 "Is there a facility to show default template before user types anything"
How can we show a default template before user types anything?

For example, on Aloglia document site itself, as user focus on search box, then it is showing some HTML content and then as user starts typing 1 or more letter then it shows a list of items that matches a search.

So want to know is there facility to show default template before user types anything ? I searched overall but didn't got

[2018-01-01 08:38] mtilokani opened #205 "Autocomplete does't close options dropdown menu if there is no focus"
Autocomplete does't close options drop down menu if there is no focus

Please help

Thanks.

[2018-01-02 07:58] Haroenv commented on #205
Hey @mtilokani, can you make a codepen/jsfiddle with the options you used which don't close the dropdown menu? Which browser are you testing this in?

Thanks!

[2018-01-02 08:07] mtilokani commented on #205
Hi @Haroenv , following are the options that I used:

`{
            debug: true,
            hint: false,
            openOnFocus: true,
            minLength: 0,
            templates: {
                empty: '#empty_result_template',
                dropdownMenu: '#autocomplete_search_template',
                footer: '#autocomplete_footer_template'
            },
        },`

[2018-01-02 08:10] redox commented on #205
That's because of the `openOnFocus: true` and `minLength: 0` combination I think. Could you try `minLength: 1` ?

[2018-01-02 08:14] mtilokani commented on #205
@redox , yes with minLength: 1, problem got resolve, but I want to show some default HTML when search is empty and focus is here on it and as user types then I want to list all searches. So for this type of thing I need to put minLength: 0

So, is there any other workaround ?

[2018-01-02 08:16] redox commented on #205
OK, makes sense.

I don't think there is a work-around; but re-thinking about it; I believe this is rather a bug since the `blur` event should always close the dropdown.

[2018-01-02 08:18] samouss commented on #205
Yes but in `debug` mode the `blur` event doesn't close the dropdown. Did I miss something?

[2018-01-02 08:19] mtilokani commented on #205
Yes, in debug mode only this is the issue, else it is working fine.

[2018-01-02 08:20] redox commented on #205
Arg yes OK; that's on purpose then :) To let you debug the dropdown DOM. No bug :)

[2018-01-02 08:20] #205 closed

[2018-01-02 08:22] mtilokani commented on #205
@redox , Ok thanks.

I was not known about debug: true was creating an issue.
Thanks for this chat let me know about it.

Thanks.

[2018-01-02 08:34] Haroenv commented on #189
See also https://github.com/algolia/angular-instantsearch now 🎉

[2018-01-02 08:36] Haroenv commented on #60
This issue has been open for a long time, and the reason isn't exactly clear yet. Feel free to open a new issue, or write how it was fixed.

Have a nice new year 🎆

[2018-01-02 08:36] #60 closed

[2018-01-02 08:39] Haroenv commented on #99
We didn't see this as a necessary feature, because of the reasons @vvo mentioned in his previous comment and there being a fairly simple workaround which doesn't really have downsides and prevents us from having to make this work in all three of the flavours.

Feel free to open a new issue or pull request if you think this is an essential feature to have.

Have a nice new year 🎆

[2018-01-02 08:39] #99 closed

[2018-01-02 09:09] Haroenv commented on #204
Yep, you can do it like this:

1. add a explanation div outside of the autocomplete.js input
2. hide it as soon as someone types

[code]

codepen: https://codepen.io/Haroenv/pen/BJZdmW?editors=0010

Does that help you?

[2018-01-02 09:16] Haroenv commented on #204
Oh, and by the way, the documentation site is made with InstantSearch.js, not with autocomplete.js 😄

[2018-01-02 13:00] rayrutjes commented on #203
I created a simple implementation here: https://codepen.io/rayrutjes/pen/OzgxLx?editors=1010

[2018-01-02 13:00] #203 closed

[2018-01-02 13:05] rayrutjes opened #207 "Open a suggestion in a new tab"
I'd like users to be able to open suggestions in a new tab.
I was looking to implement [something like this](https://stackoverflow.com/a/20087506) to detect if the intention was to open the link in a new window.
Unfortunately we have no context about the original event that triggered the "autocomplete:selected" event.

I guess this leaves us we the only alternative to display all suggestions as na

[2018-01-02 13:10] rayrutjes commented on #207
I just tried wrapping every suggestion in a native link.
When pressing CMD+Click on mac, it properly opens the new tab, however it closes the dropdown and replaces the search query with the selected suggestion attribute value.

So I would need to avoid that behaviour.

[2018-01-02 13:18] Haroenv commented on #207
a native link is the way to go in most cases I think when the behaviour is linking :)

[2018-01-02 13:21] rayrutjes commented on #207
Yes @Haroenv , however I now need to figure out how to not close the dropdown when a link is clicked.

[2018-01-05 09:18] intemperie commented on #202
I was waiting for my latest commit at Sketch (I no longer work there) to be deployed, as it was ready, but since it hasn't been already and I'm not sure if it ever will, here's what I did. Probably not the most elegant/optimal solution, I know:

[code]

[2018-01-05 09:37] Haroenv commented on #202
Thanks for sharing, and sad that it might not get deployed anymore

[2018-01-09 09:25] mtilokani opened #208 "How to use dynamic filters in algolia autocomplete?"
Hi,

I want to user dynamic filters in alogolia autocomplete, through below code it is working fine with 1 issue.

`source: function(query, callback) {
                    markets.search(query, { facetFilters: '["status:Active", "town:' + town + '"]' }).then(function(answer) {
                        callback(answer.hits);
                    }, function() {
                        callback([]);

[2018-01-09 10:11] Haroenv commented on #208
Hey @mtilokani, could you make a jsfiddle or codepen with the complete code, when I try to reproduce it I get the results on focus as well.

Thanks!

[2018-01-09 10:24] mtilokani commented on #208
Hey @Haroenv , ok I will submit you issue in jsfiddle, but to confirm that I am trying for having a updated result on focus of input box.

For example, in my code there is location that is getting changed on certain events and as location gets change then it should fetch the updated result from algolia based on filters including location and set that updated result on autocomplete. This thing is w

[2018-01-09 11:15] mtilokani commented on #208
Hi @Haroenv , got an issue.

Issue is with autocomplete.js 0.29.0

Thanks man!

[2018-01-09 12:50] Haroenv commented on #208
Thanks for narrowing down the issue, could you still give a complete code sample for debugging though? Thanks!

[2018-01-31 18:22] timkelty commented on #194
I don't have time to familiarize myself with the autocomplete.js codebase, so I won't have time to incorporate as a feature.
However, I can share my solution:

[code]

[2018-02-01 16:51] francoischalifour commented on #207
I was about to open a similar issue. This is an accessibility problem to me.

If you press <kbd>Enter</kbd> while keeping the <kbd>⌘</kbd> or <kbd>Ctrl</kbd> key, the link should also be opened in a new tab (the same goes for <kbd>⇧</kbd> in a new window).

[2018-02-15 09:39] jakob-fuchs commented on #112
How do I limit the number of total results when using multiple sources? What I currently do is to splice the array that's passed to the suggestion template method. This approach breaks with multiple sources since the suggestions add up. Can I configure this at the global level somehow?

[2018-02-15 09:41] Haroenv commented on #112
You should use `hitsPerPage` in each source @jakob-fuchs

[2018-02-15 09:44] jakob-fuchs commented on #112
I'm filtering the results myself with data hosted on Mapbox. @Haroenv

[2018-02-15 09:47] Haroenv commented on #112
🤔 I'll need a reproducible example to see what you mean then, I'm pretty confused now

[2018-02-15 09:50] bobylito commented on #112
@jakob-fuchs Can you open a new issue so that we can better track your problem? A live example would be helpful too. You can use [the instantsearch.js template on codesandbox](https://codesandbox.io/s/github/algolia/instantsearch-templates/tree/master/src/InstantSearch.js) to do so.

[2018-02-15 09:57] jakob-fuchs commented on #112
This issue seemed to be the perfect place to discuss this, but I can open a new issue, of course.

1. Set the source property to a function
2. The function returns four results
3. Set another source that calls a function
4. The function returns four results
Result: I have 8 suggestions, but I only want four

[2018-02-15 10:09] Haroenv commented on #112
In that case you'll need to change your function to return two each, not four, there's nothing built-in to autocomplete.js to handle number of results, since it isn't opinionated in that regard

[2018-02-15 10:24] jakob-fuchs commented on #112
That might be a problem you never run into when you exclusively use the algolia back end with multiple sources, but I haven't tried it.

If you think it could be useful to have a global setting that limits the maximum number of results that are shown at a time I can create a new issue and add an example use case.

[2018-02-15 10:35] Haroenv commented on #112
Please open a new issue for that

[2018-02-15 11:46] jakob-fuchs opened #210 "Limit maximum amount of displayed results when using multiple sources"
I need to limit the amount of total results; I can return a set amount of results per source, but I can't limit it when using multiple sources (every source will add their results to the list).

I hope the example here makes it clear: http://jsbin.com/xohiyosuni/edit?js,output

If you have a large data set and a lot of sources the returned results could be in the hundreds, so I think it would be a

[2018-02-15 12:36] Haroenv commented on #210
How would it choose between the different sources in case of a rounding, like in your example?

[2018-02-15 12:56] jakob-fuchs commented on #210
For my current use case it's good enough if that is determined by the source order. I just don't want the results to overflow the viewport or the page.

I suppose weighting the results would be out of scope for a simple autocomplete library. But maybe it would be nice have it work something like this:

1. Source1: Result 1
2. S2: R2
3. S3: R3
4. S1: R2
5. S2: R2
etc.

[2018-02-15 12:59] Haroenv commented on #210
Supporting mixing the sources seems like a totally different (and way more error-prone). I guess source-order in rounding down might make sense. Do you want to make a PR for this?

[2018-02-15 13:11] jakob-fuchs commented on #210
If this has a chance to be accepted I'll look into it.

Basically that would add a global option like ```maxResults: 5``` and the appropriate checks to limit the returned results.

[2018-02-15 13:35] Haroenv commented on #210
Sure, we'll definitely merge this in if the PR makes sense and has no drawbacks for usage without the limit.

You should be already able to do this easily by making sure the amount of results per source is divided by the total amount of sources.

[2018-02-15 20:49] jakob-fuchs opened #211 "Potential issue with selection of selected/highlighted result"
1. Go to https://codepen.io/team/algolia/pen/zzKBGd
2. Type Kurtis in the search box
3. Hover your mouse over Kurtis McBay
4. Hit enter
Result: Kurtis McBay will be selected
Expected Result: The first entry will be selected (Kurtis Asberry)

It's debatable if that is an issue or working as intended. I'd expect the first result to be selected if I don't actually click on a result.

[2018-02-16 09:26] Haroenv commented on #211
It's debatable indeed, but I don't think we have any "first selected result", even if you don't hover over any, the first result won't be selected 🤔

[2018-02-16 13:46] jakob-fuchs commented on #211
The behavior is the same if you set ```autoselect: true```

[2018-02-19 15:40] Sushil-852 opened #212 "Issue with &"
Hello,

I am using the autocomplete.js successfully. The only issue I face is with the '&' character.

When I search anything like 'Ram & Shyam', it shows perfectly as 'Ram & Shyam' in dropdown suggestions but when I select the option from the suggestions, it shows as 'Ram &amp; Shyam' in the input textbox. I am not able to find how can I show it as 'Ram & Shyam' in search input box as well. You c

[2018-02-22 19:51] gzzo commented on #158
I'm having this same issue, except not in Magento, using vanilla autocomplete.js.  How do I listen for the enter event when nothing is selected? Using `autocomplete:selected` doesn't work -- no event is triggered.  I'm not using the `autoselect` feature.

[2018-02-25 18:33] Haroenv commented on #212
Hey there! The example you linked has another error on the page, and thus the autocomplete isn't showing.

Can you precise what you exactly mean is wrong, since it seems like what you expect and what you get is the same. An example made in codepen on codesandbox will help a lot!

Thanks!

[2018-02-26 14:58] Sushil-852 commented on #212
Hello,

Thank you for your response. It was my bad. There was issue at my end only. Thank you for your support.
Thanks a lot.

[2018-02-27 21:13] ryandeussing commented on #207
In my opinion this breaks standard UX expectations and is a bug.

[2018-02-28 14:38] vvo commented on #158
@gzzo I guess there's no such event today. What is your usecase for willing to listen to the enter key when nothing is selected?

[2018-02-28 14:40] #212 closed

[2018-03-04 20:00] gzzo commented on #158
@vvo Same behavior as Google, on enter and no selection it sends users to a search results page.

[2018-03-04 22:44] jakob-fuchs commented on #210
I came to the conclusion that this would require too much rewriting since everything works on a per source basis (e.g there's no global suggestion counter).

I solved my immediate problem by giving the suggestion box a max height and overflow scroll.

@Haroenv You know the library better then me of course, so if you have any suggestions (pun maybe intended) I'd be willing to have another look.

[2018-03-05 08:37] Haroenv commented on #210
Thanks for doing the research here. Since what should also work is giving a limit on each of the sources, this problem should already be fairly simple to solve.

Since there's also another workaround (overflowing) for your use case, I'll close this issue. Feel free to open new issues if there's more interest in this!

[2018-03-05 08:37] #210 closed

[2018-03-09 08:03] drehimself commented on #158
@gzzo I have the same use case as you. Solved it with a simple temporary variable check and an additional event listener:

[code]

[2018-03-11 19:07] woodlandhunter opened #214 "Only standalone available on npm"
I'm not sure if this is an unreasonable request, but the jquery variant (and angular, which I don't use) don't seem to be published to NPM. Can these be made available?

[2018-03-12 13:54] Haroenv commented on #214
They are available in /dist/autocomplete.jquery.js of the package, as you said, it would probably be nicer to have those top level so the importing is nicer, but they are actually available. See also [all published files](https://yarnpkg.com/en/package/autocomplete.js?files)

[2018-03-13 12:37] woodlandhunter commented on #214
my mistake. that's great, thank you

[2018-03-13 12:47] Haroenv commented on #214
No problem!

[2018-03-14 15:59] gzzo opened #215 "Changing the suggestion cssClass stops autocomplete:selected from firing"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
If you set a custom css class for suggestion, under cssClasses, it stops autocomplete:selected from firing.

Reproduced here: https://codepen.io/anon/pen/ZxWWGy

If you comment out suggestion under cssClasses, you'll see the console log.

**What is the expected behavior?**
I would expect autocomplete:s

[2018-03-14 16:11] Haroenv commented on #215
You're right, this seems like a bug!

[2018-03-14 16:13] Haroenv commented on #215
The bug happens when there are two classes added (the space in your list)

[2018-03-16 04:07] Kosmonaft commented on #211
I find the same problem and everything was without my intention. Was surprised why it's updating/changing the query. It came out that after focusing the input I was moving the mouse just below it and hitting Enter was selecting one of the suggestions.

Is there a way to prevent such behavior?

[2018-03-21 12:07] SchmidtDawid opened #216 "Cannot read property 'style' of null - reset button problem?"
Hi i want to implement autocomplete but i can't make it work with instantsearch.
When i have 2 inputs - one is for searchBox widget and the second is for autocomplete, everything works great (but of course autocomplete doesn't have impact on hits).
But when autocomplete and searchbox pointing on same input i have an error.
[code]
error pointing on this line:    ` resetButton.style.display = query

[2018-03-21 12:27] Haroenv commented on #216
Hey Dawid, this issue is in InstantSearch.js, and thus I opened the issue there https://github.com/algolia/instantsearch.js/issues/2833

[2018-03-21 12:27] #216 closed

[2018-04-04 21:26] woodlandhunter commented on #214
@elasticsteve  Just to be sure you are clear: after installing the NPM package, you just have to use:

`require('autocomplete.js/dist/autocomplete.jquery.js');`

The last part of your comment made me unsure you understood. Disregard if that's not the case.

[2018-04-04 21:41] elasticsteve commented on #214
So simple it makes me cry! haha

Please add it to the docs for idiots like me.

[2018-04-05 05:36] Haroenv commented on #214
Reopening to find a place for this in the docs

[2018-04-10 11:29] zoransa commented on #207
you should make template

templates: {
			suggestion: function(suggestion) {
				// beware for XSS holes here
				return "<a href='"+suggestion.url+"' target='_blank'>"+ suggestion._highlightResult.name.value + "</a>";
			}

[2018-04-12 09:46] AshPowell opened #219 "Grouping by common suggestion value"
Is it possible to group suggestion results by a common shared value/relationship?

For example, I have a list of cities, each city has a region... Is it possible to show the region as a heading for each city suggestion within it?

Thanks

[2018-04-12 10:44] Haroenv commented on #219
Yes, you can use `DISTINCT` for that, https://www.algolia.com/doc/guides/ranking/distinct/#distinct-overview

[2018-04-12 10:56] AshPowell commented on #219
Am I correct in thinking it would only show one result from the group though?

Thanks

[2018-04-12 11:07] Haroenv commented on #219
That depends, you can also have a number as value for `distinct`, which will give that many results per group

[2018-04-12 15:45] AshPowell commented on #219
ah yeah, that's what those numbers are for! Thanks for the help!

[2018-04-12 15:45] #219 closed

[2018-04-12 18:39] Haroenv commented on #219
Awesome! I’m glad this worked as expected

[2018-04-13 07:25] AshPowell commented on #219
Not quite as expected, being able to get suggestion.distinct.name then for examples suggestion.distinct.suggestions would be great, would then be able to group by the distinct value a bit easier.

What I ideally wanted was something like

Distinct Value A:
   -  Suggestion
   -  Suggestion
   -  Suggestion
Distinct Value B:
  -  Suggestion

Is this possible without manually checking the distinct v

[2018-04-13 09:45] Haroenv commented on #219
Can you share what you have made so far so we are clearly talking about the same base?

See the template: https://codesandbox.io/s/github/algolia/instantsearch-templates/tree/master/src/Autocomplete.js

[2018-04-13 10:10] AshPowell commented on #219
It would take a lot of time to recreate what I have to make it look and work the same but this is basically what I have:

![autocomplete](https://user-images.githubusercontent.com/7704739/38729514-1f5cb32e-3f0b-11e8-9f8f-7cd255bf0cdf.png)

Sorry for the poor graphic, hope you understand what I'm after - basically grouping suggestions by their distinct values, almost like how different datasets wor

[2018-04-13 14:16] s-pace commented on #219
👋 @AshPowell

We do something similar [on DocSearch](https://community.algolia.com/docsearch/). We have created our Search UI on top of autocomplete.js:
![image](https://user-images.githubusercontent.com/32097720/38739604-a895d4f2-3f35-11e8-9ab5-6c50d7d7c142.png)
[example here](https://blog.codepen.io/)

Basically, levels correspond to the matching elements of these selectors
[code]
We order the h

[2018-04-13 14:37] Ange7 opened #220 "Use multiple jquery version with noConflict"
I have very old version of jquery on my website

to use algolia autocomplete i need to use last version of jquery.

so i want use alias for last jquery version with noConflict option

is it possible to set alias to use in autocomplete.jquery.js ?

thank you

Alex

[2018-04-13 14:44] Haroenv commented on #220
This should be possible, did you see any errors? If you can, could you please make a fiddle with the situation you have now? There's an example here: http://codesandbox.io/s/github/algolia/instantsearch-templates/tree/master/src/Autocomplete.js

[2018-04-13 14:47] bobylito commented on #220
@Ange7 There is also a version that is not based on jQuery and that is as easy to use (just not scoped in the jQuery namespace). If you use this one, you should be able to continue using the old version of jQuery without conflicts.

[2018-04-13 14:57] Ange7 commented on #220
Thank you for this information!

[2018-04-13 14:59] Haroenv commented on #220
Feel free to comment again if you have any more issues implementing this!

[2018-04-13 14:59] #220 closed

[2018-04-13 15:04] Ange7 commented on #220
Just question :

if i don't use autocomplete-jquery,

by what i need to replace this code :

`$("#inputfield").find("input").autocomplete(
        {
            hint: false,
            debug: true
        },`

[2018-04-13 15:08] Haroenv commented on #220
[code]

[2018-04-13 15:09] Ange7 commented on #220
yes ! thank you for all !

[2018-04-16 22:32] gavinwahl opened #221 "README warns against XSS, but defaults are vulnerable to XSS"
The default behavior of displayKey is to treat its contents as HTML, not as text. This means that there is an XSS vulnerability if the data is coming from an untrusted source. I would expect the defaults to protect me from XSS, like the README warns me to do in my own code.

[code]

This should not cause an alert when the suggestions open.

[2018-04-20 13:39] SchmidtDawid opened #222 "Not closing dropdown-menu after click on suggestion"
Hi!
I made autocomplete with some nice elements. It looks like this: https://imgur.com/hgzwz5b

I wont to close  dropdown-menu after click on "poradnik" category's suggestions and basket's inputs and buttons (it doesn't works but i think is because dropdown-menu is closing). How should I do it?

[2018-04-20 22:30] cshape commented on #207
Totally agree that users should natively be able to ctrl+click to open the autocomplete link in a new tab.

[2018-04-24 09:17] SchmidtDawid opened #223 "Updating only specific dataset on cursorchanged at another dataset"
Is it even possible to update only specific dataset without changing another?

Working like that:
[code]

[2018-04-24 13:00] Haroenv commented on #223
Could you give a bit more information on what exactly the reason is you want to update a source,

[2018-04-24 13:53] Haroenv commented on #223
In this case I think you should be able to just update the value of the input (maybe a `change` event needs to be created), did you try that?

[2018-04-24 14:00] SchmidtDawid commented on #223
I tried like below
[code]
But then dataset1 is updated too but i will not :/. Main idea is dataset1 works like input for dataset2.

[2018-04-24 14:02] Haroenv commented on #223
that seems very tricky, why do you want the input not to be updated for the first source?

[2018-04-24 14:09] SchmidtDawid commented on #223
I use another database as example. When i type "iPho" dataset1 suggestions are: iPhone, IPhoneSE iPhoneX etc. When i moving down thru suggestions i should geting another iPhones models on dataset2. But if I update dataset 1 my main query is iPhone X for example, and I cent choose other models form original query "iPho".

This idea is like "I want to put instantsearch in autocomplete" ;).

[2018-04-25 10:40] maximwow70 opened #224 "Input value reverting after blur [angularjs]."
I use the latest version of the library in bower components.
![image](https://user-images.githubusercontent.com/25751683/39240232-ea2c9a54-488b-11e8-9277-bc4f495e144e.png)
And I have angularjs 1.4.9 version.

Obviously this is bug.

Current behavior:
I have this snippet.
Template:
![image](https://user-images.githubusercontent.com/25751683/39240530-ad8f02b6-488c-11e8-8fdb-c3ff11ba325b.png)
Control

[2018-04-25 11:45] Haroenv commented on #224
Hey!

Would it be possible to make this snippet in a sandbox environment like [codesandbox](https://codesandbox.io) or [plunker](http://plnkr.co/edit/github:plnkr/starters/master/templates/angularjs)?

That will make debugging _significantly_ more easy!

[2018-04-25 14:05] maximwow70 commented on #224
https://codesandbox.io/s/0m0owz4rqv
I provided this case in current snippet.

[2018-04-25 14:11] Haroenv commented on #224
Thanks for that reproduction, I see which behaviour you're talking about now.

[2018-04-25 16:10] maximwow70 commented on #224
Thanks for your time and quick response ;)
So, how I can resolve this issue?
This issue critical for my customer.

[2018-04-25 16:13] Haroenv commented on #224
Not sure yet, I still have to look which bit of the code is responsible. I assume this bug has been present for a really long time already, since there aren't many users of the Angular version

[2018-04-25 16:15] maximwow70 commented on #224
Thanks, I'm waiting for updates :)

[2018-04-25 17:13] vvo commented on #224
Hi @maximwow70, @Haroenv and me have been working on a solution that you can find here: https://codesandbox.io/s/38kvq17xp

Sorry the code as you will see is not so angular-compliant.

Please also have a look at our https://github.com/algolia/angular-instantsearch library. Happy coding!

[2018-04-25 17:13] #224 closed

[2018-04-25 17:14] vvo commented on #224
If you still have questions, do comment here. If it's a different problem open a new issue

[2018-04-26 07:08] SchmidtDawid commented on #223
It should working like there: https://www.rossmann.pl/

[2018-04-26 07:40] maximwow70 commented on #224
Thanks, guys. This solution works for me.

[2018-04-26 12:39] fractalf commented on #50
+1 on baking this into _autocomplete.js_
and thanks a lot you other guys for providing a custom fix!

@redox

Our use case right now is to stop these warnings:

..which is a result of following the recommended convention of having multiple indexes, which again is what the WP plugin creates automatically for you.

I totally agree it's supercool to have the snappy search with no debounce, but that j

[2018-04-26 12:44] redox commented on #50
Hey @fractalf,

thank you for sharing your concerns. Any chance you could use the solution provided by @legshooter ? In the meantime, I'm gonna try to bake it in the library (so the `sources.hits`) automatically.

[2018-04-26 12:49] redox commented on #50
Arg, I might rather want to go a level deeper and try to debounce the source.

[2018-04-26 13:15] redox commented on #50
@fractalf @legshooter what do you think about #226 ?

[2018-04-27 10:09] legshooter commented on #50
@redox It's what I wanted all along 👍

As for the inner workings of debounce, I am also not sure about it, and currently using lodash's version.

[2018-04-30 09:08] #50 closed

[2018-04-30 09:14] redox commented on #168
Implemented in 0.30.0

[2018-04-30 09:14] #168 closed

[2018-04-30 09:14] redox commented on #50
Implemented in 0.30.0

[2018-04-30 09:26] SokratisVidros commented on #168
thanks!

[2018-05-03 07:10] fractalf commented on #50
@samouss Yes good to point that out, when a result is found in the cache it should definitely not be debounced.

The `callNow` only makes sense if you include the `immediate` argument (look underscore code), but in this case I think it's not necessary and even wrong because of first keypress always triggering a query

[2018-05-03 15:42] TIIUNDER opened #227 "Autocomplete doesn't close on submit via Enter key (Safari and Firefox)"
I'm using the Autocomplete (standalone) library on a form with a search input field. Submitting the form via Enter key doesn't close the Autocompletion box in Safari and Firefox. In Chrome it's working.

That's the used code:

[code]

I also tried the following workaroud:

[code]

But this workaround is only working once (why?)

[2018-05-03 16:05] qdequippe commented on #68
Hi, I would like to do the same thing as @jasperkennis, if I understand it's only possible to configure the "dataset div" ? Is it possible to have custom html for suggestions and suggestion?

[2018-05-03 18:05] Haroenv commented on #68
Please open a new issue with complete information @qdequippe, this is two years old :)

[2018-05-04 06:49] qdequippe opened #228 "Impossible to use custom template"
Hi,

I am trying to use the custom template provided in the docs (https://github.com/algolia/autocomplete.js#look-and-feel) and more precisely configure HTML `suggestions` and `suggestion` (related to https://github.com/algolia/autocomplete.js/issues/68)

[code]
In this example above I am trying to change `<span class="aa-suggestions">` by `<ul class="aa-suggestions">` and `<div class="aa-suggesti

[2018-05-04 10:03] Haroenv commented on #227
Do you have other code dealing with the form or the input?

A template is available [here](https://codesandbox.io/s/github/algolia/instantsearch-templates/tree/master/src/Autocomplete.js) for you to try to replicate the issue.

Thanks!

[2018-05-09 14:28] Haroenv commented on #223
That's awesome @SchmidtDawid, could you share in a sandbox how you achieved it?

[2018-05-10 12:50] SchmidtDawid commented on #223
@Haroenv  Can you help me with one thing? I want to trigger instantsearch on autocomplete:cursorchanged, but i stuck.

I tried:
[code]

Tried algolia helper JS and almost done (had problem with update widgets) but i don't need so much options. I want only trigger instantsearch to update widgets with autocomplete query.

[2018-05-11 18:14] oiliwe commented on #214
Thanks guys , anyone know how to use autocomplete on[ angular-instantsearch](https://community.algolia.com/angular-instantsearch/)? for angular v2 up.

[2018-05-12 06:53] Haroenv commented on #214
We don’t currently have a guide for that, but basically you’d have to wrap it in an angular component with connectSearchBox

[2018-05-13 18:21] crsw opened #229 "avoid autocomplete:cursorchanged on mouse-over"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**
autocomplete:cursorchanged is fired on both arrow-down (or up) and mouse-over

**What is the wanted behavior?**
Is there a configuration option where we can configure autocomplete NOT to fire the autocomplete:cursorchanged when the user moves the mouse over the drop down menu ?
In other words: An option fo

[2018-05-14 08:51] Haroenv commented on #229
As far as I know that behaviour can't be disabled. However I think that by making these two lines only done if a specific option isn't false should disable the behaviour. Could you try removing those two lines, and using a built version with those lines removed and seeing if it handles the expectations you had?

https://github.com/algolia/autocomplete.js/blob/48b597f68b7beb3afb4a703310813e13e28491

[2018-05-14 09:02] crsw commented on #229
That does the trick.
Thankyou

[2018-05-14 09:07] Haroenv commented on #229
Leaving this open. If enough people upvote / ask for it, we could add it as an option to the library

[2018-05-14 16:34] crsw commented on #229
Would definitely make things easier for us if this was a configuration option

[2018-05-15 15:57] vvo commented on #228
Hi! `dropdownMenu` expect only HTML like structure where you need to match CSS classes as said in #68:

[code]

should work better

[2018-05-16 12:27] TIIUNDER opened #230 "Can't set suggestion parameters"
Hi,

I'm trying to set a parameter for the suggestion template.

The default code is like this

[code]

Now I would like to use external parameters, why I'm trying to use this code:

[code]

I get the "param" variable now in the anonymous function, but the autocomplete library shows the following error: `n.templates.suggestion.apply is not a function`

Or is there an other way to get a parameter i

[2018-05-17 08:48] AshPowell commented on #219
Hi @s-pace , Sorry for the late reply I didn't see the notification!

Thanks for the info! As soon as I have a moment I'll check it out. Thanks again

[2018-05-17 16:59] mgartner opened #231 "debouncing calls source functions twice for every key press"
Looks like the debouncing is a little off. I'm noticed multiple calls t a source function on every keypress when debouncing is set to 250 ms.

[2018-05-18 12:04] mark-chief opened #233 "Cannot read property 'value' of undefined"
Using the [Autocomplete tutorial code example](https://www.algolia.com/doc/tutorials/search-ui/autocomplete/auto-complete/?language=jquery#user-interface) with no changes made to it I get the error `Cannot read property 'value' of undefined.

is there something I am missing here? The API key's are correct and the Index is called features.

Running the free community account for now.

Here's my cod

[2018-05-18 12:08] mark-chief commented on #233
[code]

[2018-05-18 12:35] Haroenv commented on #233
This means that either `suggestion._highlightResult.name`or `suggestion._highlightResult.team` is undefined, can you check you have those in your index?

[2018-05-18 12:57] mark-chief commented on #233
Thanks @Haroenv. Simple mistake of not reading the code properly on a Friday afternoon!

[2018-05-18 13:32] Haroenv commented on #233
No problem!

[2018-05-18 13:32] #233 closed

[2018-05-23 19:56] gvinson opened #234 "Can this be used without Algolia?"
I am working on a site where my JS sends the 'fuzzy search' query to our backend server which the hits algolia, cache the results, and then pass the results back to the frontend. Is is possible for me to hook up this library to hit an api endpoint rather than using the algolia js functions? We are doing this for caching reasons, we will have upwards of 200,000 hits a day.

[2018-05-23 22:16] Haroenv commented on #234
You should be able to write your own source, which does your own behaviour, there’s examples of using the normal Algolia API client; but you can write your own function

[2018-05-24 14:53] samouss commented on #231
Here is [an example](https://codesandbox.io/s/l9wrmkyzmq) of the issue with a debounce of 1000ms. We can see that two request are triggered. One at the first keystroke, then the second when we stopped typing. We can find an explanation on [this issue](https://github.com/algolia/autocomplete.js/issues/50#issuecomment-385939507).

![untitled](https://user-images.githubusercontent.com/6513513/4049196

[2018-05-25 08:34] vvo commented on #230
Hi, to do so you could either:

[code]

or this way:

[code]

[2018-05-25 08:34] vvo commented on #230
Please open a new issue if you still have issue or ask on [Stack Overflow](https://stackoverflow.com/) where you'll get plenty of advice for generic JavaScript help, thanks!

[2018-05-25 08:34] #230 closed

[2018-05-25 08:36] vvo commented on #234
Yes have a look at a source file: https://github.com/algolia/autocomplete.js/blob/master/src/sources/hits.js

And the README says how to plug a source to your autocomplete.js

[2018-05-25 08:36] #234 closed

[2018-05-26 09:11] #231 closed

[2018-05-29 10:30] FilipLukac commented on #189
Any updates for that ?

[2018-05-29 10:50] Haroenv commented on #189
@FilipLukac We are currently making connectAutocomplete to be used in Angular InstantSearch. There's no plans on making this library compatible with Angular 2+

[2018-05-29 12:16] FilipLukac commented on #189
@Haroenv thank you so much, it would work as directive / component as part of InstantSearch.

[2018-05-29 14:13] Haroenv commented on #189
keep track of it here https://github.com/algolia/instantsearch.js/pull/2841#discussion_r191366222 @FilipLukac

[2018-06-04 16:54] bernardmcmanus commented on #221
Bump. We were almost snagged by this - could have caused some major problems. It's standard practice to escape HTML by default and allow the implementer to opt out. Something like:
[code]

[2018-06-04 17:30] damarusama commented on #207
Any development on this? It's definitely something users want to see, to quickly search then open in a new tab so that you can manage your search workflow better.

I am not sure about @zoransa answer - is that to be added to the  /assets/js/orders-autocomplete.js ?

[2018-06-05 15:50] samouss commented on #221
Hi @gavinwahl @bernardmcmanus, this is something that is already supported by autocomplete. You can use the `autocomplete.escapeHighlightedString(value)` to escape the value. You can find more information about that [in the documentation](https://github.com/algolia/autocomplete.js#security). Here is [an example](https://codesandbox.io/s/l220rp42ym) that implement the code sample above in a safe mo

[2018-07-12 09:04] maximwow70 opened #238 "Error occur: "expected string with a length < 512" when not English text's length really < 512"
Good day, guys. Can you help me, please?
I found the issue, when occurs such errors as on screenshot and the length of text less than 512 characters.
![image](https://user-images.githubusercontent.com/25751683/42621082-7596785a-85c5-11e8-8360-00f644f1f887.png).

So, I provide maxlength to my input with 511 symbols, but I work with French, English and Russian texts.
For English text all is good, wh

[2018-07-12 10:34] maximwow70 commented on #238
@Haroenv , thanks for quick response. Have a nice day!

[2018-07-12 11:58] Haroenv commented on #238
Have a first initial answer from the API, which is that the characters are counted differently. Right now we think it might be with te fact that the characters are url-encoded first, which takes up more space. You can check if that makes sense by doing `encodeURIComponent` and seeing if the numbers add up.

Once we find out more I’ll get back to you again :)

[2018-07-12 12:04] maximwow70 commented on #238
Thanks again 👍
I checked this method on my example and make sure that strings take more characters.
Interesting point.

[2018-07-19 12:14] fieg opened #239 "TAB key behaviour: do not autocomplete"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

With the option `autoselect: false`, when you type something and press TAB it autocomplete the first result from the suggestions, even though it's not selected.

**What is the expected behavior?**

I would like to see a configuration option to disable this behaviour. For inspiration you can check

[2018-07-22 18:44] alystair opened #240 "No way to know if a suggestion was selected during 'close' event"
**Do you want to request a *feature* or report a *bug*?**
I'd consider this a bug, but it might just be my lack of experience with the library...

**What is the current behavior?**
When the 'closed' event is called, (whether or not 'selected' event was called prior) - there is no way to know if there was a selected item.

**What is the expected behavior?**
Being able add functionality when the aut

[2018-07-23 07:49] vvo commented on #239
@fieg Thanks for the detailed issue. We would gladly accept a similar (if not exact) PR than the one you linked. Are you up to it?

Thanks!

[2018-07-23 07:55] vvo commented on #240
@alystair I believe you could implement this on your side by listening to the various event and keeping a state out of it.

How would you expect the library to inform you if one element was selected or not at the close event time?

Thanks

[2018-07-24 00:18] alystair commented on #240
I ended up using the "opened" event to clear the background image on the autoselect if it's reopened...

you could load it into the returned event or pref. as a separate var similar to the way 'selected' operates with `suggestion` and `dataset` - could simply be a boolean if an item was selected or not

[2018-07-25 17:57] alystair opened #241 "Unfocusing input element reverts value to typed contents (urgent)"
BUG

**What is the current behavior?**
When deselecting form field, contents revert to what was typed, not autocomplete. See animated sample:
![broken](https://user-images.githubusercontent.com/159109/43218040-4a7fcda0-9011-11e8-89fd-db6dadb498bd.gif)

Settings are: hint:false, openOnFocus:true, autoselectOnBlur:true

**What is the expected behavior?**
Deselecting the field should not revert conte

[2018-07-27 08:07] Haroenv commented on #241
I don't seem to be able to replicate the problem you have, could you edit the sandbox to show what's going on? https://codesandbox.io/s/5w1wq126pn

[2018-07-31 20:31] alystair commented on #241
Per your sample there - all you have to do is add `event.target.value = "";` to the "selected" event.

I am using the selected contents to generate tags elsewhere on the page, so I'd like to empty the autocomplete contents... however emptying the value of the input does not seem to work and refills when defocusing the element.

[2018-08-01 09:39] Haroenv commented on #241
Okay, I can replicate it now, one thing that already can be done is changing not to include a `displayKey`, in which case the input will stay whatever the user typed, and not be replaced by the selected thing. If I understand the flow correctly, when

https://github.com/algolia/autocomplete.js/blob/f0822304e8c0f6ee90ed4db78b0140ac451c3e46/src/autocomplete/input.js#L93-L97
https://github.com/algoli

[2018-08-02 13:07] aub opened #243 "Crash resulting from an odd useragent"
I am reporting a bug.

When the useragent is:

[code]

the isMsie test will crash because it assumes useragents containing the string "trident" are IE browsers and therefore contain the revision number in a standard IE format.

[Here](https://jsfiddle.net/uqd5L6fe/12/) is a fiddle showing the problem. If you look in the console after loading the page you'll see the error I'm describing. [Here](htt

[2018-08-02 22:53] alystair commented on #241
Too busy to do so sadly, working on business logic for the foreseeable future... Is this something that could be done in house? the use case is general enough, although users would have to roll their own tagging mechanism (which is what we've done).

[2018-08-03 07:16] #243 closed

[2018-08-05 01:01] alystair commented on #241
Thanks @Haroenv - curious how it will be implemented, will there be a new option, will it automagically detect input value being wiped? Just want to prep my code for the patch :)

[2018-08-06 07:31] Haroenv commented on #241
I'd add it as a new option @alystair

[2018-08-07 15:09] #241 closed

[2018-08-07 15:10] Haroenv commented on #240
Is this solved with the new option?

[2018-08-07 15:10] #240 closed

[2018-08-07 15:15] alystair commented on #240
@Haroenv somewhat related ;)

The "opened" event allowed me to clear out data associated with previous selection if they start typing again, whilst new feature from #241 solves the only hindrance I had to good UX. Thanks again!

[2018-08-07 16:00] Haroenv commented on #240
okay, that's good, feel free to open a new issue (or PR if you have the time) if you run into other things

[2018-08-08 07:57] Haroenv commented on #241
@alystair this is now released on the CDN at version 0.31.0

[2018-08-08 13:52] rayrutjes commented on #141
Closing this as everyone agrees that we should not enforce this behaviour by default.

[2018-08-08 13:52] #141 closed

[2018-08-15 13:17] joemasilotti opened #245 "[Question] jQuery Version via Webpack(er)"
I'm trying to install the jQuery version of autocomplete.js via Webpacker into my Rails application. I've tried many combinations of plugins, aliases, and importing with no luck.

Here are (what I think) the relevant bits of my configuration. What is the correct/recommended way to get this working?

### `environment.js`
[code]

### `application.js`
[code]

[2018-08-15 18:02] dylankbuckley opened #246 ".autocomplete() is not a function"
I am trying to do the following:

[code]

However am getting:

`Uncaught TypeError: $(...).autocomplete is not a function`

[2018-08-15 18:15] #246 closed

[2018-08-15 18:15] dylankbuckley commented on #246
Didn't realise I needed the jQuery Version

[2018-08-16 13:02] samouss commented on #245
I looked at your configuration the only line that looks like wrong to me is the following:

[code]

Did you tried something like:

[code]

I'm not sure it will solve the issue though. If the issue persist, could you provide us a wokring example of your configuration? It will help a lot to better understand the issue.

[2018-08-16 15:49] sdwvit opened #247 "autocomplete="off" does not work in chrome"
See https://bugs.chromium.org/p/chromium/issues/detail?id=370363#c7

Expected behaviour: chrome native autocomplete is not drawn on top of autocomplete.js autocomplete.

![](https://user-images.githubusercontent.com/3984297/43742116-b683527e-999e-11e8-9874-56b46913f300.png)

[2018-08-16 16:39] tracerx commented on #211
I am fighting with this behavior as well. Enter should only select something if you arrowed to it or if autoselect was set right? Enter selecting the hovered item seems confusing.

[2018-08-16 17:10] tracerx commented on #211
I was able to work around this issue by commenting out:
`cursorDatum = this.dropdown.getDatumForCursor();`
from _onEnterKeyed in autocomplete.jquery.js.

I'm not sure what negative affects this might have but it fixes the issue for me.

[2018-08-17 07:50] Haroenv commented on #247
hmm, this doesn't happen to me on busbud, did you fix it there? This definitely seems like a nasty bug in Chrome. Maybe it has something to do with having autofill enabled on that website before?

Could you share a bit more in which setup is necessary for this to happen?

[2018-08-17 07:52] Haroenv commented on #247
Note that the off value is the one that makes it work in FF and Safari, so I fear it will be hard to value both of those requirements

[2018-08-17 15:50] Haroenv commented on #247
Thanks for your detailed bug report by the way, we will try to see if we can find a solution. It might be quite simple to implement here since we already have two inputs. It would be really nice if you already have to solution to take a look if you can do a PR 😄

[2018-08-17 15:53] sdwvit commented on #247
Can't promise, but will try to find time to do a pr on weekends.

[2018-08-18 09:06] Haroenv commented on #247
Cool! If you don’t find time to do a PR, a clear suggestion on which attribute to change where would also be sufficient, it’s still pretty confusing what to put where :)

[2018-08-23 19:23] AlphaGeek509 opened #248 "Show a single empty response when dealing with multiple indices"
**Describe the bug 🐛**
For each non-successful multi-index query; InstantSearch will return back the contents found inside the empty option from templates.  This causes a very muddled user experience as they'll see this empty response even if a valid record is return from a queried index.

**To Reproduce 🔍**
[code]

I've created a JSFiddle that can be ran by going [here](http://jsfiddle.net/jandk4

[2018-08-23 20:30] AlphaGeek509 commented on #248
I discovered that the empty template can be set in a "global" fashion via Algolia.

    //Search for BR6340-02-0.250 > Success
    //Search for blah > Failure

    var client = algoliasearch('9G2RUKPPGE', '8860a74c330efaf0119818fcdd800126');

    const indices = [
      ['SPR', 'Spacers'],
      ['SWG_SPR', 'Swage Spacers'],
      ['FF_STDF', 'Female-Female Standoffs'],
      ['SWG_STDF', 'Swage S

[2018-08-23 20:30] #248 closed

[2018-08-24 20:51] Braunson commented on #247
I'm having this issue (intermittenly) with various clients. Chrome ignores the `autocomplete="off"` attribute.

A workaround is to instead set the value of `autocomplete` to `nope`. Can we make override or stop the override by the autocomplete.js script?

[2018-08-24 22:53] sdwvit commented on #247
@Braunson does it work for other browsers like safari/firefox?

@Haroenv I'm still observing weird autocomplete behaviour with my fix on local environment, however it works on prod. 🤷‍♂️Will investigate on my side and post the results here.

[2018-08-25 19:59] Braunson commented on #247
@sdwvit From what I understand from reading bug logs / other people's feedback is that it depends on specific versions of each browser. Some obey the `autocomplete=off` flag, others do-not. It varies browser version to browser version.

[2018-08-27 13:08] Haroenv commented on #247
Thanks for your research, it still needs to be checked, but it seems like in some situations the browser, specifically Chrome, doesn't listen to `autocomplete=off`. I think we should go for `autocomplete=none`, or `autocomplete=something-random-234234` to avoid collisions.

[2018-08-28 12:35] raphi opened #249 "Enable removal of eventListeners"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
It is not currently possible to dispose of eventListeners, which could be useful to manage the event listener lifecycle.

This feature was also requested for places.js but is blocked by the implementation in autocomplete.js
[link](https://github.com/algolia/places/issues/557)

[2018-08-28 18:30] jelen07 commented on #215
Hi guys, how does it look like fixing the bug?

[2018-08-28 20:29] jelen07 commented on #215
We're using official bootstrap theme and there is `list-group-item px-0`. As hotfix we use `list-group-item-px-0` class with inherit styles from those two classes.